[2016-12-07 08:46] KirProkopchik opened #1 "Is it possible to use beforesuite annotation in base test class?"
Hello,
I try to create basic test structure: TestClass extends BaseTest.
BaseTest contains a method which is marked by BeforeSuite annotation.
But it isn`t called when TestClass is running?
I used https://github.com/reportportal/example-java-TestNG-logback

[2016-12-07 10:41] KirProkopchik commented on #1
It was internal TestNG issue. Fixed.

[2016-12-07 10:41] #1 closed

[2016-12-11 21:42] shaburov opened #2 "NullPointerException in ReportPortalTestNGListener"
NullPointerException in ReportPortalTestNGListener with version testNG 6.9.13. *

Method addListener(Object listener) in this version is marked as @Deprecated, possible cause of the error somehow connected with it.
Do you support the version testNG 6.9.13.0 and above?

**Code**
[code]

**Run result**
[code]

**UPD**
The reason for errors in multithreaded start on suites.
If you set `testNG.setSuit

[2017-01-04 13:07] kharytonenka opened #4 "ReportPortal Java Client is not affected by JVM Socks Proxy settings"
Access to Report Portal instance is established via socks proxy. Report Portal Java Client neither affected by OS socks proxy settings, no by JVM socks proxy settings, so it can't post data to Report Portal.
Please, add support of JVM socks proxy settings:
[code]

More details here: https://docs.oracle.com/javase/8/docs/technotes/guides/net/proxies.html

[2017-01-10 12:25] avarabyeu commented on #4
@kharytonenka I've release BETA version of new client:

[code]

This version support extension modules. It means you can override all beans defined in [ReportPortalClientModule](https://github.com/reportportal/client-java-core/blob/d93018d1a3526aac7e5b4ab823e414acf7565c1e/src/main/java/com/epam/reportportal/guice/ReportPortalClientModule.java)

To fix your issue, you can override HTTP client facto

[2017-01-11 17:49] kharytonenka commented on #4
@avarabyeu, many thanks! We will let you know soon whether it works for us

[2017-01-14 09:49] salamatin commented on #4
@avarabyeu, we were able to use your example of extension module and access the RP instance via Socks proxy. Thanks a lot!

[2017-01-16 07:25] avarabyeu commented on #4
@salamatin cool!

[2017-01-16 07:25] #4 closed

[2017-01-23 12:38] azakordonets opened #5 "Is it possible to have test step annotations like Allure reports have ?"
Hi,

Not sure wheather i should write into this repo or into the main one, but does report portal support anything like Allure Step annotations ? Is there any way to integrate Allure reports with ReportPortal ? https://github.com/allure-framework/allure1/wiki/Steps

[2017-01-25 20:43] DzmitryHumianiuk commented on #5
@azakordonets hi
It's a right place for that ticket.
Since it only adapter related implementation.

Idea is pretty simple, and we can consider it as a part of `BDD strategy/Step-based strategy`
And a part of async client for Java. @avarabyeu ?

Also, you can contribute this part to our agent, and we will accept it after review

[2017-01-26 08:39] avarabyeu commented on #5
@DzmitryHumianiuk somewhere we had already a similar question. Unfortunately no, that's no so simple and does not related to strategies. I would rather implement it as part of import functionality

[2017-02-08 11:40] DzmitryHumianiuk commented on #5
@azakordonets
let's clarify the need.

**option#1**
use @step annotation for name placeholders (bypassing). Like below
[code]
Name will be sent to RP as `Open PROFILE page`

**option#2**
you need it just for identification of step in your scenarios?

[2017-02-21 20:43] azakordonets commented on #5
Well, in Allure reports this @Step annotations is used to depict the scenario of what happened and at which step it failed. Basically, it allows to give a nice logging of actions taken during the test, which then can be displayed in the report.

[2017-04-12 10:06] cheryomushkin opened #7 "Error when TestNG suite contains more than one <test> section"
[code]

If there is a single <test> section then everything is OK.
[code]
And the following will produce REPORTING_ITEM_ALREADY_FINISHED error:
[code]

[2017-04-13 11:48] avarabyeu commented on #7
@cheryomushkin could you please post some code or prepare some demo project to be able to reproduce an issue

[2017-04-13 11:59] avarabyeu commented on #7
@cheryomushkin which version of client do use?

[2017-04-14 11:12] cheryomushkin commented on #7
Following are the components I use:
[code]

I will try to prepare a demo project the next week.

[2017-04-14 11:15] avarabyeu commented on #7
@cheryomushkin
could you please replace
'com.epam.reportportal:agent-java-testng:3.0.0-BETA-6' with RC1

[2017-04-17 16:30] cheryomushkin commented on #7
I created a test project. Please, find it attached. I couldn't reproduce this exact problem, but anyway it also reveals a problem with several test sections, which could be related somehow to the ticket issue.
So, after all tests are passed, I could see the only section in Report Portal which corresponds to the first `<test> ` section of the suite, the other twos are ignored.
[report portal test p

[2017-04-18 20:14] avarabyeu commented on #7
Had a quick look at the project. Main problem here is that only TestOne extends TestBase which specifies ReportPortal's listener. This is why you see only first test at ReportPortal. The more interesting case is how to fix it. At the first look, you can extends other two classes from TestBase, but in this case TestNG will create three(!) instances of listener which leads to incorrect reporting (yo

[2017-04-18 20:15] avarabyeu commented on #7
@cheryomushkin could you please confirm that global listener fixes an issue?

[2017-04-20 10:16] cheryomushkin commented on #7
@avarabyeu, yes global listener fixes the issue.

[2017-04-20 10:16] #7 closed

[2017-04-21 12:41] avarabyeu commented on #7
cool. thanks a lot for raising it up!

[2017-04-28 09:18] avarabyeu commented on #2
Fixed

[2017-04-28 09:18] #2 closed

[2017-06-01 08:53] dkorobtsov opened #8 "Java agent sends duplicate log entries to Report Portal"
Environment:
agent-java-testng	3.0.3
logger-java-log4j	3.0.1
client-java 		3.0.1
RP version: 		3.0.1

Check attached screenshot:
![rp_dup](https://cloud.githubusercontent.com/assets/13999072/26672154/d6a73a52-46c0-11e7-8c7f-181838e880df.png)

[2017-06-01 09:14] dkorobtsov commented on #8
@avarabyeu looks like regression, I've changed dependencies to older version - works perfect,

        <dependency>
            <groupId>com.epam.reportportal</groupId>
            <artifactId>agent-java-testng</artifactId>
            <version>2.7.0</version>
        </dependency>
        <dependency>
            <groupId>com.epam.reportportal</groupId>
            <artifactId>logger-java-log4j</

[2017-06-07 14:26] avarabyeu commented on #8
Please, use the latest version of log4j integration.
        <version>2.6.1</version>
Latest versions can be found here:
https://rpstatus.herokuapp.com/versions

[2017-06-07 18:13] #8 closed

[2017-10-23 12:45] DzmitryHumianiuk commented on #5
@azakordonets
in order to implement the same ability for `@Step` and any others,
we need to switch our agent of Aspects (AOP).

currently TestNG context does not return object of nested methods, called during execution.

as a middle step, we will introduce `NestedSteps` object, which will cover BDD and nested steps representation at the same time.
Basically it, RP will not calculate statistics for

[2017-12-14 08:37] vladyslav-zahorodnii opened #86 "Multiply runners from TestNG xml suite configuration"
Steps:
1. Create TestNG suite file with next format:
[code]

2. Run with Maven surfire plugin or local IDE run test suite.

Expected result: in RP one runner with three suites.
Actual result: in RP three runners, two runners empty, one runner with three suites.

[2018-01-25 15:33] pbortnik opened #88 "Incorrect handling of TestNG reporting. Listener is defined in base class by annotation."
1. Add listener using an annotation on a base test class.

[code]

2. Create several test classes extended from the base class

[code]

[code]

3. Make a configuration xml file
[code]

4. Run tests

Expected: Runs are correctly saved in RP

Actual:
Report Portal creates more than one test class.

![image](https://user-images.githubusercontent.com/8058828/35396314-905b7a24-01fd-11e8-9ca6-0cdce606b1

[2018-03-15 07:11] pskvortsov opened #23 "NPE for skipped test"
Libs:
[code]

Steps to reproduce:
1. Create Example.java
[code]
2. Add it to testng.xml
[code]
3. Run via command line `./gradlew clean test`

Actual result:
- test failed by NPE
[code]

[2018-03-27 11:48] pbortnik commented on #23
@pskvortsov
Hello, i have some ideas where it could be a npe, but i cannot really reproduce the issue following these steps.
So, could you please provide a little project where issue is reproduced?

[2018-03-27 14:30] pbortnik commented on #23
[Duplicate of](https://github.com/reportportal/reportportal/issues/373).
Fixed in 4.0.2 version

[2018-03-27 14:30] #23 closed

[2018-04-12 10:30] urbando opened #25 "Sending screenshots to Report Portal from project on docker"
Hi,

I have configured my testNG project for sending screenshots to Report Portal but it works only when I run the project locally on my Windows laptop.
Report Portal docker is deployed on linux server.

When I start the project with our Jenkins which is working on docker (the same server) I can see **RP_MESSAGE#BASE64# .. etc "** log in the proper form but file doesnt appear in ReportPortal.

Is

[2018-04-13 14:12] avarabyeu commented on #25
@urbando i guess you have different logging configuration for local and jenkins executions. Please, make sure reportportal's appender (whatever you use) is added to your logger configuration

[2018-04-15 09:54] urbando commented on #25
Thank you for response.

All dependencies and config files are pushed to our repo so I don't think there can be any discrepancy between sources run locally and by jenkis. But I will double check it.
Is there any extra port for sending attachements /screenshot needed (maybe for mongoDB)?

[2018-04-15 12:25] talgreen1 opened #87 "Error when throwing SkipException from BeforeClass method when using agent-java-testng"
Hi,

When trying to throw skip exception from a BeforeClass method, there is an error in the Report Portal (See below).

We are using the Following:
TestNG Version: 6.11 (Happens also with 6.14.2)
Report Portal Version: 4.0.0
agent-java-testng version: 4.0.0

I’m attaching an example project - [skip.zip](https://github.com/reportportal/reportportal/files/1912408/skip.zip)

The stack trace is:
`io.

[2018-04-15 13:04] urbando commented on #25
Thank you for response.

All dependencies and config files are pushed to our repo so I don't think there can be any discrepancy between sources run locally and by jenkis. But I will double check it.
Is there any extra port for sending attachements /screenshot needed (maybe for mongoDB)?

[2018-05-07 05:28] Kanaduchi opened #26 "agent doesn't work with latest version of TestNG"
Please update TestNG dependency version to latest.

Currently with TestNG 6.14.3 after execution I gen an error:
`java.lang.NullPointerException
    at com.epam.reportportal.testng.TestNGService.buildFinishTestMethodRq(TestNGService.java:324)
    at com.epam.reportportal.testng.TestNGService.finishTestMethod(TestNGService.java:155)
    at com.epam.reportportal.testng.BaseTestNGListener.onTestSkipp

[2018-05-07 12:38] evjlobanova commented on #26
What version of testNG agent do you use? It is known issue, so in the latest version it should be fixed

[2018-05-07 14:00] Kanaduchi commented on #26
@evjlobanova With version of TestNG 6.11 there is no such problem. But when I use TestNG 6.14.3 I get such error.

agent-java-testNG I use latest - 4.0.2

[2018-05-08 09:30] avarabyeu commented on #26
@Kanaduchi unfortunately, i cannot reproduce it.
Could you please fork https://github.com/reportportal/example-java-TestNG/tree/master/logback and give us some example so we can reproduce and fix

[2018-05-11 09:09] evjlobanova commented on #26
@Kanaduchi ^

[2018-05-16 10:22] Brankursine opened #27 "Info about skipping of tests aren't writing due to retryAnalyzer at test-methods"
## Problem
Info about skipping of tests aren't writing due to retryAnalyzer at test-methods
retryAnalyzer at test-methods causes "java.lang.IllegalArgumentException: ItemID should not be null"
## Steps to Reproduce
0) versions at pom.xml
[code]
1) create class that implement IRetryAnalyzer (even without retry - always false), e.g.
[code]
2) create listener which set RetryAnalyzer.class at test-met

[2018-05-16 10:28] Brankursine commented on #27
![2018-05-16_1526](https://user-images.githubusercontent.com/38905986/40111864-960d1816-591d-11e8-8985-aa27ace631ef.png)

[2018-05-29 14:46] daroshchanka opened #28 "Launch not finished if testng SkipException thrown in Before/After methods"
#### Seems, SkipException in Before/After methods not handled correctly.
Problem actual for Before/After Suite, Before/After Test, Before/After Class, Before/After Method. Before/After Group not tested.

#### 1 Test launch hangs and not finished
#### 2 Counfiguration methods duplicated

![image](https://user-images.githubusercontent.com/28945630/40665452-f1ac9488-6365-11e8-9ae1-372f12fc55c4.png)
[

[2018-05-30 10:14] evjlobanova commented on #28
@avarabyeu could you please look at this issue?

[2018-06-04 12:34] OstapJ opened #89 ""ItemID cannot be null" exception is thrown when test failed."
*Prerequisites*
client agent-java-testng - 4.0.2 (https)
server 4.1.0

*Steps to reproduce*
1. Assert.fail in BeforeClass section
2. Run the test

*Expected Result*: Test is skipped
*Actual Result*: test throws exception listed below:
`java.lang.IllegalArgumentException: ItemID should not be null
        at rp.com.google.common.base.Preconditions.checkArgument(Preconditions.java:122)
        at co

[2018-06-06 13:42] daroshchanka commented on #28
Hi, @avarabyeu.
I just removed line with startConfiguration https://github.com/reportportal/agent-java-testNG/blob/854985c1488e6548ce69fedf24a61472d3f35abb/src/main/java/com/epam/reportportal/testng/BaseTestNGListener.java#L124

**This fix works for us.**
[code]

I checked fix under several projects, no side effects detected.
Is this line needed? :)

[2018-07-16 11:19] evjlobanova commented on #26
@Kanaduchi is it still actual question?

[2018-07-17 09:35] Kanaduchi commented on #26
Yes, problem is still actual.

If I'm not mistaken my problem is duplicated by https://github.com/reportportal/agent-java-testNG/issues/27. So I'm waiting for resolving this issue

[2018-07-17 09:35] Kanaduchi commented on #27
@DzmitryHumianiuk @avarabyeu @pbortnik I also wait for any updates of this issue

[2018-07-17 12:31] avarabyeu commented on #25
@urbando no, nothing is required

[2018-07-17 12:31] avarabyeu commented on #25
Closing issue for now. Feel free if you have any questions or some assistance from our side is needed

[2018-07-17 12:31] #25 closed

[2018-07-20 12:22] doctordrue opened #29 "rp.skipped.issue=false property doesn't work on 4.2.0 & 4.2.1-BETA"
Even with rp.skipped.issue=false skipped tests are marked as 'To Investigate'. Tried with both  4.2.0 and 4.2.1 BETA

[2018-07-23 10:53] avarabyeu commented on #27
@Kanaduchi Unfortunately, we cannot reproduce it.
I've pushed your example at our example repository, could you please check it there? The only difference is the latest version of integration. Please, let us know whether it works for you

[2018-07-23 10:55] avarabyeu commented on #26
#27 describes another issue. Closing this one in favor of #27 since the current one (with NPE cannot be reproduced). Feel free to re-open if issue still relevant

[2018-07-23 10:55] #26 closed

[2018-08-14 11:58] Brankursine commented on #27
Sorry for the delay in my response.

Just created simple project which reproduce the problem.
[ReproduceReTryFail.zip](https://github.com/reportportal/agent-java-testNG/files/2286787/ReproduceReTryFail.zip)

command line:
`test -Dsurefire.suiteXmlFiles=suites/ReproduceItemId.xml -Drp.enable=true -Drp.endpoint=https://******.com -Drp.uuid=******* -Drp.project=platform -Drp.launch=Debug -Drp.tags=de

[2018-08-14 12:31] Brankursine commented on #27
Sorry for the delay in my response.

Just created simple project (pom + suite + test) which reproduce the problem.
[ReproduceReTryFail.zip](https://github.com/reportportal/agent-java-testNG/files/2286876/ReproduceReTryFail.zip)

command line:
`test -Dsurefire.suiteXmlFiles=suites/ReproduceItemId.xml -Drp.enable=true -Drp.endpoint=https://******.com -Drp.uuid=******* -Drp.project=platform -Drp.laun

[2018-08-14 12:33] Brankursine commented on #27
@DzmitryHumianiuk close it by mistake (
Issue is still actual.
Just did some little nodes above about reproduce.

[2018-08-14 12:49] Kanaduchi commented on #27
I can easily reproduce the problem with example provided by @Brankursine

[2018-08-14 15:34] DzmitryHumianiuk commented on #27
@avarabyeu and @pbortnik will take a look during this week

[2018-08-29 15:16] nikitalogich opened #90 "RP doesn't show results in case of TestNG retry option"
Hi,
our team use tests rerun/retry TestNG option in case of it's failure (org.testng.IRetryAnalyzer).
The issue is that if any pre/post-condition method fails (e.g. `@BeforeMethod`, `@AfterTest`, etc), Report Portal does not display tests that are going afterwards. It display only precondition methods (see screenshot).

![rp](https://user-images.githubusercontent.com/23118745/44796531-ceb1f700-abb

[2018-09-17 19:34] shashankbr3007 opened #91 "sun.security.validator.ValidatorException: PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException"
Guys, facing Certificate issue while building(using mvn clean install) "example-java-TestNG-master-->log4j" project
i tried installing certificates from "http://tj.symcb.com/tj.crt" manually on my laptop, but did not help, i'm stuck here

[ERROR] Failed to execute goal on project example-java-TestNG-logback: Could not resolve dependencies for project com.epam.rp:example-java-TestNG-logback:jar:1.0

[2018-10-10 14:58] prvns133t opened #30 "UNCLASSIFIED_ERROR when I run TestNG test and send the reports to RP"
I installed RP and also configured it based on the instructions in the documentation. I was able to signin successfully into the portal. Also I got the UDID and updated the `reportportal.proprties`.

However I see the following error when I run the test case provided in the github example testng project.

[code]

[2018-10-17 16:29] DzmitryHumianiuk commented on #30
@avarabyeu @pbortnik @akoltochihin
Guys, any ideas on 500 error?

[2018-10-30 14:01] Kanaduchi commented on #27
@DzmitryHumianiuk Any updates on this?

[2018-11-23 05:25] pujaranichand opened #31 "Skipped Tests not showing when retry tests are included"
when i run the tests with the retry analyser, the skipped tests do not show , but when i run the tests without the retry analyser the skipped tests count shows on the report portal, can someone help here
![image](https://user-images.githubusercontent.com/24644827/48929376-3dc98e00-ef0e-11e8-93df-5024b05ab402.png)

[2018-12-25 10:48] gaurav-singh opened #32 "Report portal use with gradle showing the results as in progress"
I am trying to evaluate report portal for use in a simple java project using TestNG and Gradle as build tool. Since i did not find any specific instructions for the same in this repo, I tried playing around with different settings.

Here is my build.gradle file:

When i use this settings below then, *I do not see any results being pushed out to report portal.*

[code]

Thus i tried another approac

[2019-01-21 11:38] barvin opened #33 "Is it possible to change the licence to Apache 2.0?"
It would be much easier for commercial products development, if this library had an Apache 2.0 license. I use agent-java-testNG in my commercial project and I cannot override classes from it, if it has GPL license, only use it as a dependency as is.
Thank you!

[2019-01-22 08:09] evjlobanova commented on #33
@barvin we are planning to move to Apache 2.0 with version 5.0

[2019-01-22 08:09] #33 closed

[2019-02-27 11:18] filland commented on #32
Hello. Sorry for answering you so late.

### Using @ Listeners({ReportPortalTestNGListener.class}) on test class
I managed to fix your problem by changing the version of testng agent to 4.2.1 (it is the latest version): compile 'com.epam.reportportal:agent-java-testng:4.2.1'

### Using .xml runner
But it works well with .xml runner as well (do not forget to comment
@ Listeners({ReportPortalTestNGL

[2019-03-04 10:13] filland commented on #27
@Brankursine @Kanaduchi @ogonekorama
Guys, seems like i fixed the problem.
Here is the link to the branch with the fix - https://github.com/reportportal/agent-java-testNG/tree/retry-fix
Could you create a jar and try it with your project ?

To use generated jar file I had to add additionalClasspathElements with the path to the .jar file to maven surefire plugin configs (do not forget to remove mav

[2019-03-04 13:54] yoavgeva opened #37 "Random Exceptions in parallel of 500 tests"
**Describe the bug**
Running 400-500 Tests in parallel with threadCount of 60 with TestNG Java

Tests randomly fail and stop on ReportPortalException (in logs) (sometimes 1 tests sometimes 40 tests)
In ReportPortal Website I see them as interrupted tests when the launch stop (with force) and when the tests finish running the website still show those tests IN PROGRESS
My question is, how to handle

[2019-03-04 14:31] filland commented on #37
@yoavgeva Hello, could you provide more info on how to reproduce your issue (e.g. setting for testng runner) ?

[2019-03-05 08:16] yoavgeva commented on #37
after an investigation on my part, it seems an issue with a framework I received.

[2019-03-05 08:16] #37 closed

[2019-03-05 14:06] DzmitryHumianiuk commented on #27
@Brankursine plz check

[2019-03-05 14:08] DzmitryHumianiuk commented on #31
@filland duplicate for #27 ?

[2019-03-05 15:08] filland commented on #31
@DzmitryHumianiuk

yes

[2019-03-05 15:53] #31 closed

[2019-03-06 13:09] filland commented on #28
@daroshchanka
Hello, i fixed the problem.
Here is the branch with the fix  - https://github.com/reportportal/agent-java-testNG/tree/issue28
Could you try it with your tests ?

[2019-03-06 13:33] filland commented on #29
@doctordrue Hello, do you still face this problem using the latest version of agent ?

[2019-03-06 13:34] filland commented on #30
@prvns133t did you manage to solve the problem ?

[2019-03-06 13:53] prvns133t commented on #30
Yes I did. I think I just upgraded or downgraded(Don't remember exactly)
some of the components manually and it worked.

On Wed, Mar 6, 2019 at 8:34 AM Alexey K <notifications@github.com> wrote:

[2019-03-11 12:03] #32 closed

[2019-03-11 12:04] #28 closed

[2019-03-11 12:04] #27 closed

[2019-03-13 08:01] #29 closed

[2019-03-13 22:09] DzmitryHumianiuk commented on #30
@prvns133t so looks like it is resolved.
closing.

[2019-03-26 09:54] daroshchanka commented on #28
@filland
Works for me.

[2019-03-26 10:02] filland commented on #28
@daroshchanka this fix is already in the latest published version

[2019-03-26 17:12] arunkumar-muthusamy commented on #30
@DzmitryHumianiuk I still get this error. Do you know how this ticket was resolved?
I'm running https://github.com/reportportal/example-java-TestNG with logback.

I have setup the report-portal project appropriately. Using latest version (4.3.6)

![image](https://user-images.githubusercontent.com/47788194/55018239-4e882e80-4fea-11e9-9963-82ff8a639e91.png)

Console o/p
[code]

[2019-03-26 19:50] DzmitryHumianiuk commented on #30
logs from @arunkumar-muthusamy
[code]

[2019-03-26 19:50] DzmitryHumianiuk commented on #30
asked for help if slack chat

[2019-03-26 19:57] arunkumar-muthusamy commented on #30
@DzmitryHumianiuk , its my bad.. i did configure the project name incorrectly. i thought i deleted the comment.. Please disregard it.. Working fine for me.

[2019-03-26 20:28] #30 closed

[2019-03-27 18:50] avarabyeu commented on #30
That is s a good one. Can you attach the logs of service-api? The error comes from there

[2019-03-27 18:59] arunkumar-muthusamy commented on #30
@avarabyeu, please ignore my comment. i did configure the rpo project name incorrectly in the properties file, which caused these 500 error.

[2019-05-02 14:28] NiliMe commented on #28
@filland It is not working for me on version 7.0.0-beta6.
SkipException on any Before method (before class, before suite, before method) makes the execution to stuck.

In the attached capture we can see that the method "getTmsVersionprintCurrentClass" (whice is annotated @BeforeClass) is stuck on InProgress, and so are all the Before methods after it (the methods "deleteAllMockDcs" & "temp" are @T

[2019-05-03 12:47] filland commented on #28
@NiliMe this might happen since the agent using testng 6.14.3

[2019-05-14 07:15] NiliMe commented on #28
@filland which agent is it? How can I upgrade the Testng version?
I'm running using Intellij (latest version) and surefire plugin (2.19.1)

[2019-05-14 11:11] filland commented on #28
@NiliMe the latest version of reportportal testng agent developed using testng 6.14.3. I am going to investigate the reason why it does not work with testng 7.0.0.*. I also recommend you to not use 7th version of testng (if possible) since it is in beta stage.

[2019-05-21 12:12] mangeshrane opened #42 "Getting Random error - Report portal is not functioning correctly. Response is not json"
When running tests using testNg getting Report portal is not functioning correctly. Response is not json error.

com.epam.reportportal.exception.InternalReportPortalClientException: Report portal is not functioning correctly. Response is not json
	at com.epam.reportportal.service.ReportPortalErrorHandler.handleError(ReportPortalErrorHandler.java:88)
	at com.epam.reportportal.service.ReportPortalEr

[2019-05-26 09:07] yoavgeva opened #43 "Add logs of After/Before methods into TestItem after in finished (aka Update Item after it closed)"
for example:
 1. have a test which run and finished (does not matter if passed)
2. After test finished (can be lot of test after an such) I want to attach a log with video to it cause it created after the Test closes.

I am aware It can be done with API from your example, but how to get the ID of the correct Item not manually from the platform, but from the code.
also why not to Add a way to get t

[2019-05-26 12:09] karthikeyaEvive opened #94 "UnrecognizedPropertyException while running testNG test cases with reportportal.io"
**Describe the bug**
...
When tried to run testNg test cases with reportportal following error was encountered.

`Caused by: com.fasterxml.jackson.databind.exc.UnrecognizedPropertyException: Unrecognized field "number" (class com.epam.ta.reportportal.ws.model.EntryCreatedRS), not marked as ignorable (one known property: "id"])
 at [Source: [B@3deca00c; line: 1, column: 12] (through reference chain

[2019-05-28 21:30] karthikthe opened #46 "Creation of tags"
To create tags, I had the following line in reportportal.properties
rp.tags = "smoke" "1.4.6"

Testng agent created one tag in RP combining both tags: "smoke" "1.4.6". I expected two tags: "smoke" and "1.4.6", not one. pytest created two tags for the same line. Having multiple tags (to describe what is being run) help find specific launch.
![testng](https://user-images.githubusercontent.com/511376

[2019-06-06 15:43] arunkumar-muthusamy commented on #46
@karthikthe its semicolon separated.
rp.tags=smoke;1.4.6

[2019-06-10 14:23] karthikthe commented on #46
Thanks @arunkumar-muthusamy. It worked.

rp.tags = smoke;1.4.6;"some other tag"

[2019-06-10 14:23] #46 closed

[2019-07-18 10:25] mohdsgithub commented on #25
Add dependency for cucumber:
<dependency>
            <groupId>com.epam.reportportal</groupId>
            <artifactId>agent-java-cucumber4</artifactId>
            <version>4.0.0</version>
        </dependency>

Then send screen shot file as:
ReportPortal.emitLog(testResult.getTestName(), "FAIL", Calendar.getInstance().getTime(), new File(fileLocation));

[2019-07-21 05:35] KunalShokeen432 opened #51 "Reportportal with Selenium Grid"
This is not an issue. Just an understanding I need before integrating ReportPortal with Selenium Grid for parallel execution on different machines.

i.e...
If we have a host machine(from where execution is triggered and ReportPortal is hosted) and parallel execution takes place on multiple machines(nodes) via Selenium grid.

After execution does Reportportal create a single launch only on host for

[2019-07-21 10:55] KunalShokeen432 commented on #51
Can anyone please help with this ?

[2019-07-23 11:05] KunalShokeen432 commented on #51
Can someone please help with this ?

[2019-08-09 16:30] DzmitryHumianiuk commented on #43
may have reference to https://github.com/reportportal/reportportal/issues/672

@yoavgeva reporting built on promises.
that means, that during execution, at the moment when object is not save in DB, but already created within execution thread, this object will have Promise, instead of real locator.
That was **first**.

**Second**, belongs to specifics of testNG and how it handles execution row of m

[2019-08-11 06:04] yoavgeva commented on #43
@DzmitryHumianiuk Yea I want to append logs and attachments into test item, which will happen after it was finished (the @Test ), it does not have to happen in @AfterMethod it can happen later (even while another test run or in @AfterSuite even), if I can get the promise for example, it can help me add logs/attachments with that test item whenever I want

[2019-08-13 13:28] DzmitryHumianiuk commented on #43
@yoavgeva if you familiar with AspectJ, you can add mapping for `@Test` methods and append screenshooting functionality right on byte code of `@Test` method.

@Yumfriez will try to make example next week.

As for next releases, we plan to introduce tree view structure of tests.
this means, that you will see test case on the left, logs on the right.
and under the test case you will see related `@Af

[2019-08-13 15:30] ssethy opened #56 "Report portal exception is not handled properly which leads failure to create testng report"
There are many instances where report portal excepts some value or due to some validations report portal throws exception but then this is not handled properly which cause failure in testng report creation. It leads complete failure to build. To avoid such issue we had to remove report portal listener itself.

This issue is high priority and should be resolved.

The error logs can be found as belo

[2019-08-15 10:24] yoavgeva commented on #43
it's possible but my issue is not screenshot but video, and I can get video only after the object of webdriver is closed (it can be closed in after method or other method) screenshot you can take whenever you want. the idea here is to have capablitiles to add logs/attachment to a test item and not the related method for example aftermethod item, cause it's a debugging info that the tester need to

[2019-08-15 15:06] DzmitryHumianiuk commented on #43
@yoavgeva we have one idea for that, @Yumfriez will try to create example.

The idea is to keep static map of  `TestCaseId - uuid `
where `TestCaseId` will be the directly mentioned test case ID, thru annotation. Or automatically generated, based on method location, name and hashcode of paramentrs.

`uuid` - ID of element in data base, which can be referenced via API call.

API v5 will allow to re

[2019-08-18 05:27] yoavgeva commented on #43
@DzmitryHumianiuk sound awesome :), this was the part I was missing :)

[2019-09-11 15:20] arunkumar-muthusamy commented on #51
It will create one launch per test trigger. By nature, the reporting will be done by your test (which runs on a machine x, or may be you can call it as build server). Selenium grid-Nodes has nothing to do with reporting.

Lets assume you use Java+TestNG with selenium grid, you will eventually run one TestNG.xml file. There is a listener for logback & log4j, whichever logger you are using, pick the

[2019-09-26 08:54] jonacarvalheiro opened #95 "TestNG | Retry Analyser brings inconsistency on the terminating launches on RP"
**Describe the bug**
If I had a retry analyser to an AnnotationTransformer, the launches start to be inconsistent regarding the terminating launch.
I use v4 in k8  and works perfectly

**To Reproduce**
Retry.class
[code]

AnnotationTransformer.class

[code]

values.yaml

[code]

**Desktop (please complete the following information):**
 - OS: [iOS]
 - Browser [chrome]
 - Version [77.0.3865.90]

[2019-11-06 21:17] DzmitryHumianiuk commented on #43
@Yumfriez can you share example already?

[2019-12-03 19:32] Baivalr opened #66 "Duplicate tests in launch/lanch does not fininsh"
I added reportportal to my project following the instructions here > https://github.com/reportportal/example-java-TestNG and using the @listeners annotation. The launches appear in reportportal and everything looks fine until the test runs end. The launch in RP never finishes and has to be forced to finish. The launches have duplicate suites, one of which finishes as expected, the other never fini

[2019-12-12 13:57] ihar-kahadouski commented on #66
It seems you have registered a few listeners. Check it please in pom.xml

[2019-12-17 13:19] evjlobanova commented on #66
@Baivalr Does it help you?

[2019-12-17 19:02] DzmitryHumianiuk commented on #66
@Baivalr please share you `pom.xml` and `suites.xml`
listener can also be defined there.

And plz let us know about the multi threading, do you use it?

[2019-12-19 21:17] Baivalr commented on #66
no multithreading.
`<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
	<modelVersion>4.0.0</modelVersion>
	<parent>
		<groupId>----</groupId>
		<artifactId>web-automation</artifactId>
		<version>0.0.1-SNAPSHOT</version>
	</parent>
	<artifactId>

[2019-12-19 21:19] Baivalr commented on #66
and `<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FastAdd" verbose="2" parallel="false" configfailurepolicy="continue">
	<groups>
		<run>
			<include name="FastAdd"></include>
		</run>
	</groups>
	<listeners>
		<listener class-name="com.---.automation.web.util.FirebaseReporter"></listener>
	</listeners>
	<test verbose="2" name="Fast

[2019-12-20 10:58] Yumfriez commented on #43
@yoavgeva https://github.com/reportportal/examples-java/blob/callback-examples/example-testng-logback/src/main/java/com/epam/reportportal/example/testng/logback/callback/CallbackReportingTest.java - example
Callback reporting wiki - https://github.com/reportportal/client-java/wiki/Default-reporting-flow

[2019-12-20 19:14] ihar-kahadouski commented on #66
@Baivalr check please your XML files with sutes structure if they have `<listeners>` attribute

[2019-12-23 16:54] HardNorth commented on #56
We found a single way to reproduce that. The issue caused by an exception in a DataProvider, in which case TestNG skips Test listener execution. That's not an RP issue.

Since version 7.1.1 they start re-throwing that Exception and now we can think how to handle that situation in our client/agent correctly. Anyway the fix will be here no sooner than 5.1.

[2019-12-26 12:48] evjlobanova commented on #66
@Baivalr Could you please tell us if it helped?

[2019-12-30 16:53] Baivalr commented on #66
report portal listener is not defined in any suite xml.

[2020-01-09 01:15] omkarnathsingh opened #68 "Cannot locate the classes that are mentioned here - ConfigurationModule & TestNGAgentModule"
Basically my problem is same as https://stackoverflow.com/questions/48899958/reportportal-wuth-testng-how-to-set-launch-name-during-run-time/49245585.
I tried code to override the UUID and Launch name from readme of https://github.com/reportportal/agent-java-testNG .

But Its throwing errors for classes not found. Where are these classes located?
ConfigurationModule, ReportPortalClientModule and T

[2020-01-12 21:57] AutomateItEasyWay opened #69 "Unable to update defect type in version 5"
Steps to reproduce:
1. Execute a test and make sure test run is reported in ReportPortal.
2. If any of the test in test run fails then you will see To Investigate under defect type under all launches on launches screen.
3. User should be able to click on To Investigate and then update values in Edit defect type dialog box.
4. I have tried the same scenario in version 4 of RP and it works perfectly

[2020-01-14 13:06] evjlobanova commented on #69
@AutomateItEasyWay
Hello, please update your version to RC 6, and try one more time
And check logs of service analyzer, if this issue will reproduce again

[2020-01-14 13:08] evjlobanova commented on #68
@omkarnathsingh which version of RP and agents do you use?

[2020-01-14 13:08] evjlobanova commented on #68
try to use the latest version of RP - RC 6

[2020-01-14 16:03] omkarnathsingh commented on #68
I am using agency-java version as 4.2.2 and my UI RP version is 4.3.0

[2020-01-14 16:10] HardNorth commented on #68
@omkarnathsingh can you provide more specific example? How do you initialize the listener and which exact classes are not found? I can't recall these classes you listed.

[2020-01-15 00:55] omkarnathsingh commented on #68
@HardNorth I am using this only sample code provided for params overriding https://github.com/reportportal/agent-java-testNG#code-example-how-to-overload-params-in-run-time

and it is unable to locate ConfigurationModule, ReportPortalClientModule and TestNGAgentModule

[2020-01-15 06:09] HardNorth commented on #68
@omkarnathsingh That example is too outdated. I'm going to update it today.

[2020-01-17 00:46] omkarnathsingh commented on #68
Thanks @HardNorth . Please update and share the URL. It would be helpful for everyone.

[2020-01-20 11:10] HardNorth commented on #68
@omkarnathsingh Here:
V5: https://github.com/reportportal/agent-java-testNG
V4: https://github.com/reportportal/agent-java-testNG/tree/v4-hotfix

[2020-01-20 11:11] #68 closed

[2020-01-20 13:49] omkarnathsingh commented on #68
Thanks @HardNorth  :)

[2020-01-24 00:16] omkarnathsingh commented on #69
@evjlobanova V5 has reached stable, so will agent-java won't get a stable release too?

[2020-01-28 16:00] Zahorodnii opened #72 "Listeners order execution for RP agent"
Steps:
1. Attach @Listeners annotation
2. Define example listeners in next order: @Listeners({ReportPortalTestNGListener.class, ScreenShooter.class})
3. In onTestFailure metod we have next line: this.testNGService.finishTestMethod("FAILED", testResult);
Due to listeners runing in random order, screenshot sometimes not attached to RP, becouse finishTestMethod runing before screenshot attach.  Nords

[2020-02-02 15:49] HardNorth commented on #72
Need to discuss that internally.

[2020-02-03 08:52] Zahorodnii commented on #72
Ask @vadzim

[2020-02-03 08:52] Zahorodnii commented on #72
Incorrect close, please reopen

[2020-02-03 08:54] Zahorodnii opened #73 "Listeners order execution for RP agent"
Steps:

    Attach @listeners annotation
    Define example listeners in next order: @listeners({ReportPortalTestNGListener.class, ScreenShooter.class})
    In onTestFailure metod we have next line: this.testNGService.finishTestMethod("FAILED", testResult);
    Due to listeners runing in random order, screenshot sometimes not attached to RP, becouse finishTestMethod runing before screenshot attach

[2020-02-03 11:40] yoavgeva commented on #43
awesome, will try it when we move to V5 hopefully soon

[2020-02-03 11:41] #43 closed

[2020-02-10 11:11] alex-i-rybkin opened #76 "Parallel run. Logs and attachments are messed up between different threads"
**Environment**
Server version: 5.0.0
Client version: BETA-8
Logger version: BETA-8

**Problem**
It seems that testng client incorrectly manages RP_ID for test items running in parallel. Having 2+ threads logs and attachments are posted to incorrect threads.
![image](https://user-images.githubusercontent.com/30799266/74144775-070c9000-4c06-11ea-99ed-20793ec5ec61.png)

**How to reproduce**
Sample p

[2020-02-10 12:02] Skaramus1990 opened #77 "Error Message: Incorrect Request. [Field 'type' shouldn't be null.]"
`com.epam.reportportal.exception.ReportPortalException: Report Portal returned error
Status code: 400
Status message: Bad Request
Error Message: Incorrect Request. [Field 'type' shouldn't be null.]
Error Type: INCORRECT_REQUEST

	at com.epam.reportportal.service.ReportPortalErrorHandler.handleError(ReportPortalErrorHandler.java:83)
	at com.epam.reportportal.service.ReportPortalErrorHandler.handle(

[2020-02-10 12:40] HardNorth commented on #77
Well, Agent version 4.2.0 is not actually compatible with TestNG 7.0.0. Can you update to version 4.2.3?

[2020-02-12 06:51] HardNorth commented on #76
The fix is on its way: https://github.com/reportportal/client-java/pull/68

[2020-02-14 16:35] alex-i-rybkin commented on #76
reportportal/client-java#68 fixes the issues. BETA-9 release should resolve the problem

[2020-02-14 16:35] #76 closed

[2020-02-17 18:39] omkarnathsingh opened #79 "Logs are getting logged in wrong tests"
I am using agent-java-testNG v5.0.0-BETA-9 and RP versions Current version:API Service: 5.0.0;Index Service: 5.0.5;Authorization Service: 5.0.0;Service UI: 5.0.0;

I am using testng to run 6 TC in where classes are to be run in parallel. But when logs are getting logged in RP, they are all messed, they are getting logged in wrong Tests and sometimes all into 1. How can I make it log correctly in t

[2020-02-18 10:21] Zahorodnii opened #80 "Can't change RP Launch name"
![зображення](https://user-images.githubusercontent.com/58936047/74726973-106eab80-5249-11ea-93ee-5f135241c2a5.png)
![зображення](https://user-images.githubusercontent.com/58936047/74726993-195f7d00-5249-11ea-9ffd-1fe6f3f6d6cf.png)

TestNG Agent: BETA-9
Log4J2 Version: BETA-9

[2020-02-18 10:34] Zahorodnii opened #81 "UUID For launch not changing"
TestNG Agent: BETA-9
Log4J2 Version: BETA-9

Setuped Admin UUID, all works correctly, after changed to another UUID, in result old UUID setuped in Report Portul, but in properties file it's new.

[2020-02-18 11:16] Zahorodnii commented on #80
I found the problem, if in property file rp.project = example, then all ok, but if rp.project=example, then for rp it's problem

[2020-02-18 11:22] Zahorodnii commented on #80
Problem with rp.rerun = true

[2020-02-18 11:27] HardNorth commented on #80
Rerun is rerun, when you specify `rp.rerun = true` server searches for a previous run. If there is no such run then it fails. I don't see any issues here.

[2020-02-18 11:27] #80 closed

[2020-02-18 11:52] #81 closed

[2020-02-18 12:47] Skaramus1990 commented on #77
![Capture](https://user-images.githubusercontent.com/30906401/74737485-04451700-5266-11ea-9690-343c1c2cd85a.PNG)

[2020-02-19 10:03] HardNorth commented on #79
Please execute `mvn dependency:tree` or `gradlew dependencies` and ensure that there is no 5.0.0-BETA-8 dependencies. Because BETA-9 was release exactly to resolve this issue.

[2020-02-19 12:03] #79 closed

[2020-02-19 14:54] omkarnathsingh commented on #79
Thanks, working fine now.

[2020-02-24 15:22] Zahorodnii opened #82 "Problems with TestNG Retry functionality"
TestNG supports retry functionality: [TestNG Retry](https://testng.org/doc/documentation-main.html#rerunning)
* `Problem with RP test statuses: when testNG rerun failed test, all reruned tests without last will have skipped status:`
![зображення](https://user-images.githubusercontent.com/58936047/75164075-e1fd3e80-5728-11ea-99b0-c8bd807951a5.png)
`But RP sometimes set another tests statuses:`
![зо

[2020-02-28 09:27] ShashiSasuke02 opened #83 "java.lang.NoClassDefFound Error: rp/com/google/common/base/Supplier[v5]"
**java.lang.NoClassDefFound**
Caused by: java.lang.ClassNotFoundException: rp.com.google.common.base.Supplier
	at java.net.URLClassLoader.findClass(Unknown Source)
	at java.lang.ClassLoader.loadClass(Unknown Source)
	at sun.misc.Launcher$AppClassLoader.loadClass(Unknown Source)
	at java.lang.ClassLoader.loadClass(Unknown Source)
	... 1 more

**Using TestNG runner and listeners**
ReportPortalTestNG

[2020-03-03 08:56] #73 closed

[2020-03-03 09:07] Zahorodnii opened #84 "ItemID should not be null"
If test failed in TestNG listener or extended listeners and main @Test will not start, then we have java.lang.NullPointerException: ItemID should not be null exception.

RP 5.0.0
TestNG Agent 5 beta 9
Log4j2 5 beta 9

[2020-03-03 12:16] #84 closed

[2020-03-03 16:04] gaurav-singh commented on #42
Are you still facing this issue? Can you post more details around what version of report portal you are using and a sample test to reproduce the issue?

[2020-03-03 20:05] HardNorth commented on #84
I would say this is expected. If there is a bug in a listener, then please report it.

[2020-03-03 20:44] HardNorth commented on #77
It should.

[2020-03-06 05:55] Skaramus1990 commented on #77
versions for TestNG and Reportportal in to POM file.
![versions from POM](https://user-images.githubusercontent.com/30906401/76056578-0f978280-5f88-11ea-8ba5-f81db230ad86.PNG)

Screenshot with error
![error](https://user-images.githubusercontent.com/30906401/76056583-11614600-5f88-11ea-923f-2f3308d3dcfa.PNG)

[2020-03-07 00:07] AspireFbbRP opened #85 "Report portal not showing results with java 11"
Hi team,
I've integrated report portal with my java-testNG framework. And I can see the results in my reportportal account of my execution.
Now I just updated my java version from java 1.8 to Java 11 in my machine and pom.xml. Now I'm not able to see my results in reportportal. Does reportportal supports java 11?

Please help me on this.

Thanks

[2020-03-07 09:48] HardNorth commented on #77
What `mvn dependency:tree` says? Does it contains older version of TestNG?

[2020-03-10 10:22] HardNorth commented on #82
We never implemented any property reload "on the fly", so it actually works as expected. And rerun - it's Launch level feature, you have to specify that flag on a Launch start, not on items during an execution.

[2020-03-10 10:22] #82 closed

[2020-03-10 10:28] #69 closed

[2020-03-11 11:07] Skaramus1990 commented on #77
![Capture](https://user-images.githubusercontent.com/30906401/76410625-4cf17b00-63a1-11ea-9aa1-739fc51338c3.PNG)

No, it doesn't.

[2020-03-13 06:48] AspireFbbRP commented on #85
Still not fixed.
I installed Java 11 in my system.
When I try to execute my test case, an error throws as following
"Error: Could not create Java Virtual Machine"
"Error: A fatal exception has occured. Program will exit"

If I installed and set java class path to 1.8, Its working fine.
Only when installing Java 11 it throwing fatal error.
For my project I need java 11.

Please help me.

[2020-03-17 10:19] HardNorth commented on #77
Have you implemented any hooks, extensions, etc?

[2020-03-17 10:20] HardNorth commented on #42
Closed due to inactivity.

[2020-03-17 10:20] #42 closed

[2020-03-17 10:30] HardNorth commented on #85
Can you provide more details, logs? Which exact JDK are you using?

[2020-03-17 14:05] DzmitryHumianiuk commented on #85
@AspireFbbRP see above.

not sure it is a RP related issue.
Your JVM of version 11 can't start itself. You should fix your java 11, rather then RP

[2020-03-17 15:31] DzmitryHumianiuk commented on #83
@ShashiSasuke02 could you please update us with details?

[2020-03-23 09:01] Skaramus1990 commented on #77
only one listener.
`import com.codeborne.selenide.WebDriverRunner;
import com.epam.reportportal.testng.ReportPortalTestNGListener;
import com.google.common.base.Throwables;
import org.apache.logging.log4j.Level;
import org.testng.ITestResult;

import static com.codeborne.selenide.WebDriverRunner.url;

public class CustomReportPortalListener extends ReportPortalTestNGListener {

    @Override
    p

[2020-03-25 11:47] Skaramus1990 commented on #87
+1. I have at the same problem.

[2020-03-25 12:57] #86 closed

[2020-03-27 07:52] HardNorth commented on #91
@shashankbr3007 please use these examples: https://github.com/reportportal/examples-java

[2020-03-27 07:52] #91 closed

[2020-03-27 07:56] HardNorth commented on #90
@nikitalogich please try new agent version: https://bintray.com/epam/reportportal/agent-java-testng/4.2.3

[2020-03-27 07:56] #90 closed

[2020-03-27 08:14] HardNorth commented on #89
@OstapJ please try using the latest TestNG agent with TestNG 7.1.1: https://bintray.com/epam/reportportal/agent-java-testng/4.2.3

[2020-03-27 08:14] #89 closed

[2020-03-27 15:13] HardNorth commented on #87
@Skaramus1990 RP5 designed specifically to avoid such issues, unless you migrate on it you should care about test items processing order by yourself.

[2020-03-27 15:13] #87 closed

[2020-03-27 15:14] HardNorth commented on #83
Closed. No response from requestor.

[2020-03-27 15:14] #83 closed

[2020-03-28 00:10] arunkumar-muthusamy opened #93 "[v5]agent-java-testng - ItemID should not be null (Test item is not getting created)"
While running the tests on `Java+TestNG+LogBack` with new version of `agent-java-testng`  by pointing to **V5 ReportPortal**, i'm getting following exception. It used to work well until `5.0.0-BETA-6`  version.
[code]

**pom.xml**
[code]

**TestNG.xml**
[code]
OS: Mac, java version "1.8.0_201"
Note: You can run any TestNG test to reproduce it.

![image](https://user-images.githubusercontent.com/47

[2020-03-29 20:22] HardNorth commented on #93
Unfortunately, TestNG made version 7 binary incompatible with version 6. We have to follow TestNG versions since there are a batch of users who want to move forward. And we have very limited resources to support many versions of TestNG.

[2020-03-29 20:22] #93 closed

[2020-03-30 02:26] arunkumar-muthusamy commented on #93
Thank you, @HardNorth !

For anyone who end up with same issue, please update the TestNG version from 6.x.x to 7.x.x and update the TestNG version in IDE (in my case its Eclipse).

[code]

Update/Install TestNG plugin version 7.1.1 in Eclipse

- Click "Help -> Install New Software..." on top level menu
- Paste the url https://dl.bintray.com/testng-team/testng-eclipse-release/7.1.1/ to Work with: t

[2020-03-31 14:05] the-octopus opened #96 "Report portal is not working Fine with TestNG Parallel Mode"
When Enable TestNG Parallel mode, the log messages are not assigned to its test node:

Assume we have 3 test methods [Test1() , Test2() , Test3()]
Enable Parallel Mode with methods mode and with 3 threads to let all test methods run in same time.
use the report ortal logger and listener to log test results.
after execution , there will be 3 test cases nodes under the launch/suit/test.
but one test

[2020-04-01 13:48] maxski opened #97 "Logs from Listener attached to Test level instead of Test Method level (@Test) in case of fail in Step"
Pre-conditions:
1. TestWithStep where Step has failure
2. TestWithoutStep where Test itself has failure
3. Listener should add logs in case of fail.

Scenario:
1. Run both tests.
Expected: Both tests has listener logs on Test Method level.
Actual: TestWithoutStep has logs on Test Method level. But TestWithStep doesn't have logs on Test Method level, instead they appears on Test level.

Project for

[2020-04-03 08:49] alex-i-rybkin opened #98 "Nested Steps. NPE on handling null-vallued method arguments by StepAspect"
Suggestion:
Handle nulls as "null" strings in such a case, not to fail the whole execution.

Example below:

[2020-04-03 09:04] evjlobanova commented on #96
@the-octopus do you read https://github.com/reportportal/client-java/wiki/How-to-aggregate-Multi-thread-process-execution-in-one-launch? Does it help?

[2020-04-03 09:21] #85 closed

[2020-04-03 11:55] alex-i-rybkin commented on #98
same as https://github.com/reportportal/client-java/issues/73

[2020-04-03 13:14] #98 closed

[2020-04-03 14:54] DzmitryHumianiuk commented on #97
@maxski version of RP server?

[code]

[2020-04-04 07:09] the-octopus commented on #96
@evjlobanova Thanks for your sharing, I tried the explained configurations , But unfortunately not solved the issue. Still Logs for Test1, comes in Test2 and etc.....

Please is you have a good example for TestNG Parallel integration share.

[2020-04-04 07:30] evjlobanova commented on #96
@HardNorth may be you can help @the-octopus ?

[2020-04-06 09:17] maxski commented on #97
@DzmitryHumianiuk
Current version:API Service: 5.0.0;Index Service: 5.0.5;Authorization Service: 5.0.0;Service UI: 5.0.0;

[2020-04-11 09:52] the-octopus commented on #96
@evjlobanova @HardNorth , any updates please. Thanks.

[2020-04-11 18:33] HardNorth commented on #96
@the-octopus Which version of TestNG agent are you using?

[2020-04-12 06:27] the-octopus commented on #96
@HardNorth , Please find below my dependencies .

[code]

[2020-04-12 07:43] HardNorth commented on #96
@the-octopus please use **BETA-9** dependecncies.
@evjlobanova Looks like the best way is to delete old betas from bintray after each release to force people use the latest dependencies.

[2020-04-12 10:22] the-octopus commented on #96
@HardNorth , Thanks for your updates, I did changed the dependencies as follow.

Parallel reporting issue Solved.

But Another Issue , or a feature was removed which , **Iterations grouping** , at **BETA-8**  the iterations of the same method are grouped under same method name, But with version **BETA-9** no grouping of the iterations of the same Test Method.

**Iterations / retries image:**
![ima

[2020-04-12 22:20] HardNorth commented on #96
There is no iteration grouping feature at all. It was a bug which caused these iterations were counted as `retires`.  As you see they are signed as `retries`. There is a related documentation of TestNG: https://testng.org/doc/documentation-main.html#rerunning

So I count this as closed, you are free to open a new issue if you want to suggest this bug as a feature. We might take it into considerati

[2020-04-12 22:20] #96 closed

[2020-04-13 08:21] HardNorth commented on #95
I believe it was fixed already, feel free to reopen if the issue still exists.

[2020-04-13 08:21] #95 closed

[2020-04-13 08:29] HardNorth commented on #5
I believe we implemented this, at last. Please look at this example: https://github.com/reportportal/examples-java/blob/master/example-junit/src/test/java/com/epam/reportportal/example/junit/NestedStepTest.java

[2020-04-13 08:29] #5 closed

[2020-04-16 11:37] marysia16122 opened #100 "[v5] WARNING: Invalid cookie header: 'Invalid 'expires' attribute'"
**Describe the bug**
I have WARNING in my java autotest console, when I run tests using report portal

`апр. 16, 2020 2:29:21 PM rp.org.apache.http.client.protocol.ResponseProcessCookies processCookies
WARNING: Invalid cookie header: "Set-Cookie: AWSALB=P7cqG8g/K70xHAKOUPrWrG0XgmhG8GJNinj8lDnKVyITyubAen2lBr+fSa/e2JAoGksQphtImp49rZxc41qdqUGvAc67SdZHY1BMFIHKzc8kyWc1oQjq6oI+s39U; Expires=Thu, 23 Apr

[2020-04-22 04:03] parthamaiti-hub commented on #93
thanks. I got the issue . The solution works for me. much appreciated.

[2020-04-30 08:59] shishirdwivedi2008 opened #102 "Duplicate Suite name is coming for each run inside launch"
Hello Team,
For my every run , I see two suite name(duplicate) inside the launch. One is always in interrupted state and another one contains all my test cases with a log. Seems like duplicate suite name is logged into the report.
I am attaching a screenshot for the same. Do let me know if any logs are required for this.
Also, Launch contains logs for after method. As per my understanding after me

[2020-05-04 08:12] shishirdwivedi2008 commented on #102
@HardNorth  I am initializing ReportPortal Listener in my pom.xml file and executing test cases using mvn clean test.
Below is a snippet of my pom.xml

 <plugin>
                    <groupId>org.apache.maven.plugins</groupId>
                    <artifactId>maven-surefire-plugin</artifactId>
                    <version>3.0.0-M4</version>
                          <configuration>

[2020-05-04 10:34] DzmitryHumianiuk commented on #102
@shishirdwivedi2008 for RPv5 you should use agents starting with 5.x

https://bintray.com/epam/reportportal/agent-java-testng/5.0.0-BETA-9 (for TestNG 7)
https://bintray.com/epam/reportportal/agent-java-testng/5.0.0-BETA-14-TESTNG6 (for TestNG 6)

[2020-05-11 08:50] the-octopus opened #109 "Report portal is not handling TestNG test method invocationCount correct."
**Scenario:** When run a test method more than one iteration by configuring the invocationCount property of the test method.
**Correct behavior:** the test method should appear in report portal as one level that has nested iterations.

**Current behavior:** each iteration from the same method appears as a standalone test method level.

**for more details please check this [URL comment]**(https://g

[2020-05-11 13:34] the-octopus opened #110 "ReportPortal TestNg java is not finishing the launch in case of TestNG process interuption"
I have the an issue, when the TestNg execution is interrupted or failed for some reasons , the launch is not finished. and I have to force finish the launch

**Example:** Start a testNg test from InteliJ IDEA , then stop the running from the IDEA also  before it ends testing. the issue will appear.

Could you please explain how to programmatically force finish from testNG Java client the interrupt

[2020-05-12 11:26] HardNorth commented on #94
You are using obsolete dependency. Please use newer agent version, e.g. 4.2.1
[code]

[2020-05-14 11:41] HardNorth commented on #102
@shishirdwivedi2008 Can you provide an example project which reproduces the issue?

[2020-05-15 12:27] HardNorth commented on #100
Well, you can mute such messages using regular logging configuration. Just set level ERROR for packages starting with 'rp'.

As for us, no, we are not going to disable our logging. No libraries in a whole java world do such. Why we should?

[2020-05-15 12:27] #100 closed

[2020-05-17 09:52] yoavgeva opened #112 "allow retry for configuration methods"
we use IConfigurable of TestNG to retry configuration methods, the server today shows all the retries under same configuration item, we would like to be able to see the retries the same as in Test Items retries on the server, how can we use the testng-client to inform the server there is a retry for the configuration

[2020-05-18 11:03] marysia16122 commented on #100
Why we cannot fix this? not switch off warning log.

[2020-05-18 11:13] HardNorth commented on #112
@yoavgeva Can you please provide an example code of your project? And current behavior screenshots? I can't understand your case.

[2020-05-19 08:24] marysia16122 opened #114 "[v5] WARNING: Invalid cookie header: 'Invalid 'expires' attribute'"
According to https://github.com/reportportal/agent-java-testNG/issues/100

I use setting in log4j2.xml:
`<Logger name="rp" level="ERROR"/>`
but it's not work for me. Can you help me?

[2020-05-19 12:32] HardNorth commented on #77
Well, after some investigations, I can say that such error might happen when:
1) An unknown test method type coming to the RP listener, which wasn't described in this class: https://github.com/reportportal/agent-java-testNG/blob/develop/src/main/java/com/epam/reportportal/testng/TestMethodType.java
2) An exception happens inside custom RP listener

Despite the reason of that in the latest version

[2020-05-19 13:38] HardNorth commented on #114
A little bit elaboration here:

Our code operates as we expected. Such warning tells you that your server is trying to set cookies on our client. Well, actually we are not using cookies in our agents at all, your server decided to set them by itself.

Well, I actually can do something to mute this, there is a solution: https://stackoverflow.com/a/40697322/2802832
But, again, it's like hiding the f

[2020-05-19 14:09] HardNorth commented on #114
Fixed: https://github.com/reportportal/client-java/pull/104

[2020-05-19 14:09] #114 closed

[2020-05-21 13:24] HardNorth commented on #109
That change requires server updates.

Classic retry looks like this: skipped->skipped->passed/failed.
It's counted as a single test in our statistics. It marks as failed only if the last one in the retry queue is failed, when there is no attempts left.

InvocationCount looks like this: passed/failed->passed/failed->passed/failed
And it should be counted as 3 tests. And if one of them failed the wh

[2020-05-21 13:26] HardNorth commented on #109
@evjlobanova Please include such feature in the future scope as we agreed.

[2020-06-01 12:51] vaibhavshukl12 opened #142 "Selenium Grid Execution with Report Portal"
Hi All.
Is there any solution in the report portal for parallel execution.
I integrated, RP with TestNG, and I implemented a grid also but I want multiple launches depends on nodes in grid how I can achieve this.
I want different launches with respective nodes.

[2020-06-05 10:28] HardNorth commented on #102
Abandoned

[2020-06-05 10:28] #102 closed

[2020-06-05 10:28] HardNorth commented on #94
Abandoned

[2020-06-05 10:28] #94 closed

[2020-06-05 10:30] HardNorth commented on #77
Abandoned

[2020-06-05 10:30] #77 closed

[2020-06-05 10:30] HardNorth commented on #112
Abandoned

[2020-06-05 10:30] #112 closed

[2020-06-25 09:17] sushovan-mca opened #130 "[v5bug] agent-java-testng-5.0.1 Getting Exception while creating Launch for second testng xml"
I am trying to execute a testng xml by creating launch. This is working fine.
In case of failures i am creating another testng xml programatically and trying to run it again. This time I am getting exception to create Launch.

io.reactivex.exceptions.UndeliverableException: The exception could not be delivered to the consumer because it has already canceled/disposed the flow or the exception has n

[2020-06-26 10:22] HardNorth commented on #130
@sushovan-mca Emm. Why do you think this is a bug? You modified TestNG programmatically and trying to use our code in a way which we never face again.

Our LaunchImpl class closes all resources on launch finish, it's not re-usable. You have to instantiate a new listener.

[2020-06-26 10:28] HardNorth commented on #110
Implemented in https://github.com/reportportal/agent-java-testNG/releases/tag/5.0.3

[2020-06-26 10:28] #110 closed

[2020-06-26 11:15] sushovan-mca commented on #130
@HardNorth I have my own custom listener which extends ReportPortalTestNGListener. I am configuring that listener to my testng object in custom runner. Now when my First testng xml is running it is getting intanciated properly. I am expecting same instantiation to occur when I am running the second testng xml. Existing code is working fine with agent-java-testng 4.2.1

[2020-06-26 11:42] sushovan-mca commented on #130
@HardNorth I tried the following.
After the execution of first testng xml is done I set testng object reference to null. Again created a fresh testng object, configured the listener again, form the xml using test runner and executed. I am getting following
WARNING! More than one ReportPortal listener is added

Also I am getting the previous error that I posted.
io.reactivex.exceptions.Undeliverabl

[2020-07-12 15:11] omkarnathsingh commented on #130
This is happening to me without using custom implementation also. Buts its very rare like 1 in 50.

[2020-07-13 06:07] ShanmugaPrasanth94 opened #141 "How to run reportportal test for MAVEN+TESTNG+CUCUMBER."
I have tried using the Testng.xml to trigger my framework. I am using Multimodule framework. When i run the testng.xml test is triggered but the Cucumber feature steps are not getting posted in the ReportPortal dashboard. Kindly help me out to resolve this.

[2020-07-17 18:51] pprraashant opened #139 "V5_Could not find artifact org.aspectj:aspectjrt:pom:1.9.2 in selenium-repo (http://repo.jenkins-ci.org/releases/) for report"
create mvn based project.

        <dependency>
            <groupId>com.epam.reportportal</groupId>
            <artifactId>agent-java-testng</artifactId>
            <version>5.0.6</version>
        </dependency>

        <dependency>
            <groupId>com.epam.reportportal</groupId>
            <artifactId>logger-java-log4j</artifactId>
            <version>5.0.2</version>
        </dependen

[2020-07-21 06:57] Seshadri1993 opened #140 "Receiving an error saying "There was an error in the forked process" while integrating RP with Selenium+TestNG+Maven test framework"
I am trying to integrate my existing test framework(Selenium+TestNG+Maven)  and Reportportal. But I am receiving an error indicated below :

[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time:  02:51 min
[INFO] Finished at: 2020-06-29T17:59:45+02:00
[I

[2020-07-22 07:35] jemishdave commented on #140
Is there any update on this?

[2020-07-22 09:43] HardNorth commented on #139
It is within maven central: https://search.maven.org/artifact/org.aspectj/aspectjrt/1.9.2/jar

You can exclude it if you would like to use `http://repo.jenkins-ci.org/releases/` only. The dependency is used in nested step reporting and can be removed if you are not using it.

But notice we are not obligated to use one repository or another.

[2020-07-22 09:44] #139 closed

[2020-07-22 10:16] HardNorth commented on #140
@Seshadri1993 @jemishdave There are several issues with this issue:
1. Why are you using 2 loggers? logback and log4j simultaneously. It's pointless. Please use one of them.
2. Also please use the latest logger dependency: 5.0.2
3. Make sure you are not referring on any RP V4 agent in your dependencies, since V4 does not contains this class.

[2020-07-22 11:06] HardNorth commented on #141
1. Use `cucumber-testng` and implement a runner as here: https://github.com/reportportal/examples-java/blob/cucumber4-jackson-no-method/example-cucumber4/src/test/java/TestRunner.java
2. Include the latest cucumber and TestNG agents into your dependencies.
3. Use two testng.xml files: one with your TestNG tests and one with the runner. For one with TestNG tests also specify our TestNG listener: `c

[2020-07-22 11:06] #141 closed

[2020-07-22 11:19] HardNorth commented on #142
@Vaibhavshukla08 What exact question do you have? As Dmitry said you need to implement your own agent with some custom logic if you want to report separate packages as separate launches.

Which exact clary do you want? I believe you have to examine our examples / documentation / code by yourself:
* An example of extending of a TestNG listener: https://github.com/reportportal/examples-java/blob/mas

[2020-07-22 12:19] ShanmugaPrasanth94 commented on #141
If i am running my test I am getting this issue.

io.cucumber.core.exception.CucumberException: Couldn't load plugin class: com.epam.reportportal.cucumber.ScenarioReporter

[2020-07-23 09:00] ShanmugaPrasanth94 commented on #141
@HardNorth
Hi Still the Issue is not closed, Kindly Provide your Input on this to sort out this issue.

[2020-07-23 09:19] HardNorth commented on #141
@ShanmugaPrasanth94 Please include correct cucumber agent, we have 4 of them.

[2020-07-23 09:48] ShanmugaPrasanth94 commented on #141
Hi @HardNorth  I am using the following dependencies. But still No luck .

      <dependency>
        <groupId>com.epam.reportportal</groupId>
        <artifactId>agent-java-testng</artifactId>
        <version>5.0.6</version>
      </dependency>

      <dependency>
        <groupId>com.epam.reportportal</groupId>
        <artifactId>agent-java-cucumber4</artifactId>
        <version>5.0.0-BETA-13

[2020-07-23 10:32] ShanmugaPrasanth94 commented on #141
@HardNorth tried Cucumber, Cucumber2, Cucumber3, Cucumber4. but still am getting the same error. Please help me on this.

[2020-07-23 15:37] HardNorth commented on #141
@ShanmugaPrasanth94 Which version of cucumber are you using?

[2020-07-23 15:40] HardNorth commented on #141
@ShanmugaPrasanth94 Oh, I see you are using Cucumber 6. Forget about it, we don't have such integration and I don't have any ETA when we will implement it.

[2020-07-23 15:46] ShanmugaPrasanth94 commented on #141
@HardNorth Thanks a lot for your response. Can you tell me what is the highest or the latest cucumber version supporting ReportPortal?

[2020-07-23 16:04] HardNorth commented on #141
@ShanmugaPrasanth94 I believe we support all versions of cucumber till about 5.5, where they changed reporters again. Early versions of fifth cucumber works with cucumber4 agent.

[2020-07-23 16:09] ShanmugaPrasanth94 commented on #141
@HardNorth oh great. Thanks for your response.

[2020-07-23 16:14] HardNorth commented on #141
Cucumber has millions of servants, it's not possible to catch their pace just with one person who also need to support 12 other agents.

[2020-07-24 05:47] Seshadri1993 commented on #140
Thanks @HardNorth for your suggestions....now the script is running and some steps are being pushed to the report portal....but I am now getting a NullPointerException that ItemID should not be null....

-------------------------------------------------------
 T E S T S
-------------------------------------------------------
Running TestSuite

Starting ChromeDriver 2.42.591088 (7b2b2dca23cca0862f6

[2020-07-27 05:59] HardNorth commented on #140
@Seshadri1993 Looks like you are using V5 agents with V4 server. There is no such compatibility, please either update your server, or use V4 agents.

[2020-07-27 08:17] jemishdave commented on #140
The server version is > 5.0 for all components and also the helm chart is 5.0
@HardNorth Can you suggest if we can check something else
![image](https://user-images.githubusercontent.com/26929333/88519307-ca80f500-cfe9-11ea-9263-ccca643d8ebe.png)
![image](https://user-images.githubusercontent.com/26929333/88519343-e08eb580-cfe9-11ea-8919-262a6b3f2ab5.png)

[2020-07-27 09:33] HardNorth commented on #140
@jemishdave Got it, can you provide an example project to reproduce the issue?

[2020-07-28 18:03] ShanmugaPrasanth94 commented on #141
@HardNorth ya that's very true. Accepted. Kindly let me know once if the support for Cucumber 6 is provided. That would be a great help. Thanks.

[2020-08-10 05:36] HardNorth commented on #140
Abandoned

[2020-08-10 05:36] #140 closed

[2020-08-10 05:37] HardNorth commented on #142
Abandoned

[2020-08-10 05:37] #142 closed

[2020-08-26 10:15] MaksimShilaS opened #145 "Add TestClass node to report tree"
With agent-java-testNG I could only get tree as predefined in xml suite
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite data-provider-thread-count="30" name="Super suite">

    <listeners>
        <listener class-name="com.epam.reportportal.testng.ReportPortalTestNGListener"/>
    </listeners>

    <test name="Tests group">
        <classes>
            <class name="com.bla.TestT

[2020-09-07 04:29] omkarnathsingh commented on #130
Any update on this issue?

[2020-09-07 17:40] HardNorth commented on #130
@omkarnathsingh Have you tried a newer version of the agent?

[2020-09-08 15:34] omkarnathsingh commented on #130
Yes @HardNorth , I am using latest 5.0.7 version, still getting the issue. It doesn't happen for first xml, second re-run xml onwards get this issue. Earlier this issue was not there, Since 1-2 months only this issue started appearing.

[2020-09-19 04:51] HardNorth commented on #145
@MaksimShilaS there is no such plans, this is the way how TestNG works.

[2020-09-23 06:39] chavansatish opened #146 "While running TestNG in eclipse, it opens dialog box with below error. "An internal error occurred during: Launching testfile".java"
Occurred below error, while running TestNG xml file. Can you please help me.Below are the more detail regarding error.
Error: An internal error occurred during: "Launching TestNGtTutorialNew_testng.xml".
org.testng.eclipse.maven.MavenTestNGLaunchConfigurationProvider.getArguments(Lorg/eclipse/debug/core/ILaunchConfiguration;)Ljava/lang/String;
![error](https://user-images.githubusercontent.com/181

[2020-09-23 19:49] gtque opened #147 "Test/Step name only uses method name instead of test name"
Commit [102b03e87020f7855198770104a99bab350fca1f](https://github.com/reportportal/agent-java-testNG/commit/102b03e87020f7855198770104a99bab350fca1f)

refactored the step name into a new method:
`	protected String createStepName(ITestResult testResult) {
		return testResult.getMethod().getMethodName();
	}`

But did not preserve the original logic of checking for test name. This completely breaks th

[2020-09-26 08:27] HardNorth commented on #147
@gtque There was an essential reason to change it. Unfortunately I'm currently on vacation without a laptop to prepare a detailed answer. But nothing prevent you to implement your own "get test step name" method to move forward. This is a part of our official API and won't be changed.

[2020-09-26 08:49] HardNorth commented on #145
@MaksimShilaS I'm closing this out. If you have any straight implementation which does not break current behaviour I can consider it in a pull request from you.

[2020-09-26 08:49] #145 closed

[2020-09-26 09:03] HardNorth commented on #72
Well, after months of thinking I believe this is not an our issue. TestNG doesn't provide any explicit method to implement listener execution order. Why we should implement it? We are not a test framework. There is a good answer from Cedric Beust to implement a listener of listeners by yourself and thus maintain the order of the listeners. I have nothing to add to it. Again, we are not a test fram

[2020-09-26 09:03] #72 closed

[2020-09-27 02:36] gtque commented on #147
@HardNorth I'm not entirely sure I understand what you are suggesting.
Are you suggesting that i implement a custom  "get test name" method in our test class that implements ITest and TestNG?
Or that I extend TestNGService from this project and then implement my own reportportal listener that uses that instance?

I would be very interested in the reason. I understand moving it to the method, but I

[2020-10-01 14:23] HardNorth commented on #147
@gtque just override this method: https://github.com/reportportal/agent-java-testNG/blob/master/src/main/java/com/epam/reportportal/testng/TestNGService.java#L730

[2020-10-01 20:32] gtque commented on #147
@HardNorth ok, but how will just overriding that method work?

ReportPortalTestNGListener always uses your implementation of TestNGService.java.

Also why was the behavior changed?
The change now means if you have a data driven test, then each run in report portal all show as the exact same name and there is no way to distinguish between the runs short of reading through the logs.

[2020-10-03 11:25] ERankur91 opened #148 "text not getting logged in report when logging is performing from another thread apart from testNG"
agent-java-testng : 5.0.7
logger-java-log4j : 5.0.1
org.testng.testng: 7.0.0

I am launching another thread from my test case and performing some logging (refer to screenshot: 1)
as mentioned in screenshot: 1 following loggers are getting printed in report "Test message 2" , "test message 21".
But logger which i am printing in another thread doesn't gets printed in logs at report portal ( refer to

[2020-10-05 04:38] ERankur91 commented on #148
Hi team,
please help in this, integration of reportportal stuck due to this issue.

[2020-10-12 11:57] ERankur91 commented on #89
@HardNorth
Is there any work around to resolve this issue in testng v:7.0.0. ?

[2020-10-13 14:51] #148 closed

[2020-10-14 15:29] brian30040 commented on #147
@HardNorth Any updates for a more detailed answer about why the behavior was changed? This change breaks thousands of our tests!

[2020-10-16 07:39] HardNorth commented on #89
@ERankur91 No, just use the newer version of TestNG agent. TestNG v6 and v7 are binary incompatible. And there will be no support for v6 in further versions of RP.

[2020-12-01 14:22] HardNorth commented on #146
Not related to our product.

[2020-12-01 14:22] #146 closed

[2020-12-01 14:23] HardNorth commented on #88
obsolete

[2020-12-01 14:23] #88 closed

[2020-12-01 14:24] HardNorth commented on #66
obsolete

[2020-12-01 14:24] #66 closed

[2020-12-01 14:25] HardNorth commented on #51
Examples are here: https://github.com/reportportal/examples-java

[2020-12-01 14:25] #51 closed

[2020-12-03 09:20] HardNorth commented on #130
After some investigations I wasn't able to reproduce the issue. Here is my code:
https://github.com/HardNorth/testng-xml-check
The result is:
[code]

Closing this out. The issue will be reopened only if someone will manage to provide working example to reproduce. Without any hacky ways to run tests.

[2020-12-03 09:20] #130 closed

[2020-12-07 09:26] Ngaur opened #150 "LAUNCH_NOT_FOUND"
Getting Error :
com.epam.reportportal.exception.ReportPortalException: Report Portal returned error
Status code: 404
Status message: Not Found
Error Message: Launch '8dabd205-f030-47a7-b761-13d458e738d0' not found. Did you use correct Launch ID?
Error Type: LAUNCH_NOT_FOUND

	at com.epam.reportportal.service.ReportPortalErrorHandler.handleError(ReportPortalErrorHandler.java:85)
	at com.epam.report

[2020-12-07 10:10] HardNorth commented on #150
Which version of RP server do you use?

[2020-12-07 11:10] Ngaur commented on #150
It is deployed via v5 Kubernetes chart.
Build - 5.2

[2020-12-07 13:28] HardNorth commented on #150
Please show your `reportportal.properties` file.

[2020-12-07 15:39] HardNorth commented on #147
@gtque @brian30040, Ok I implemented a special [test](https://github.com/reportportal/agent-java-testNG/blob/develop/src/test/java/com/epam/reportportal/testng/integration/feature/name/AnnotationNamedParameterizedClassTest.java) for that case and reverted implementation on a previous one for a moment. Here what I got:
![Screen Shot 2020-12-07 at 6 13 39 PM](https://user-images.githubusercontent.co

[2020-12-07 16:35] Ngaur commented on #150
reportportal.properties
[code]

[2020-12-07 19:01] gtque commented on #147
@HardNorth
Your assumption then is that the "test method" is a step, but whether you call it a step or a test doesn't matter. I don't want to have to go into the individual tests/steps to identify it. For the person implementing the test that is not a problem, but from the perspective of someone reading and trying to understand the report, that is not acceptable.

Going into "item details" is also

[2020-12-07 19:19] gtque commented on #147
@HardNorth
I think I understand where you got your results from. You simply overrode the test name, probably with a hard coded value. But we override the testname with a parameter that comes from the test data, thus making the test name dynamic instead of static.

[2020-12-07 19:27] gtque commented on #147
@HardNorth
I implement the `ITest` interface and override the getTestName() method.
So what should be done, is check to see if the class implements the ITest class, if it does, use the getTestName() method.

[2020-12-08 04:05] HardNorth commented on #150
@Ngaur Everything looks OK at the first glance, so I have to ask for example project to reproduce the issue. Because most likely you are not showing me some essential details.

[2020-12-08 04:58] Ngaur commented on #150
@HardNorth  The test framework has many component which is irrelevant to share here. Let me just prepare one dummy example project. Meanwhile just giving some extra information, if in case this helps.
### pom.xml
[code]

### Running tests through TestNg object
Something like -
[code]
Not using log4j for logging, but still I have placed the log4j.xml just to check.
[code]

[2020-12-08 05:35] HardNorth commented on #150
@Ngaur  I'm not going to guess. Please provide a whole project, or I'll close the issue. Since you are trying to blame the most popular version of the most popular agent.

[2020-12-08 05:59] Ngaur commented on #150
@HardNorth
Ohh! I am confused here. Discussing an issue is not a blame. I already mentioned in comment, I will prepare a dummy project, meanwhile this is the extra information.
However, Just leave that, I will sort this out myself. Otherwise I will use the direct APIs for my integrations and would defer this agent.

Thanks for you time!

[2020-12-08 05:59] #150 closed

[2020-12-08 08:47] HardNorth commented on #147
@gtque I would not recommend you keep posting duplicate issues, because in that case I'll just block you for the organization.

As I said `createStepName` method was introduced for everyone who wants to customize their step names. You can find the same method in every Java agent since version 5. But you are trying to convince me that your custom logic, which calculates test names is the only right

[2020-12-08 17:30] gtque commented on #147
@HardNorth
I am not trying to convince you that my custom logic is the only right way.
I am trying to convince you that your agent-java-testNG should support the functionality provided by TestNG, in this case the `getTestName()` method from the `ITest` interface. Whether the name is dynamically generated in that method or not is irrelevant. I only mentioned that to address the results you saw in y

[2020-12-09 08:58] HardNorth commented on #147
@gtque There is one simple rule for discussions, called "burden of proof". That means a statement maker is also responsible for providing proofs of the statement. So please provide proofs of your words, for example, a test project.

[2020-12-09 19:07] gtque commented on #147
@HardNorth
Here is your proof: https://github.com/gtque/rptestngtestname

There is a custom service and listener implemented. If the test class is in the `com.thegoate.rp.custom` package it uses `testResult.getName()`. Otherwise it uses the default `createStepName()` from TetstNGService. The extra logger messages are to provide some a look into the behavior of `getName()` versus `getTestName()`.

[2020-12-10 09:43] vzahorodnii opened #151 "Wrong RP launch structure"
Имеем следующую структуру testng.xml файла:

![изображение](https://user-images.githubusercontent.com/75780254/101755009-1043e300-3add-11eb-99bc-e2ea7fd4517e.png)

Тестовые классы подключены через наследование базового BaseTest с аннотацией @Listeners в который подключен RP слушаетль.

В итоге при запуске тестов в репорт портал попадает лишний TestItem со статусом Interrupted.

![изображение](http

[2020-12-15 06:29] Mandeepsheoran opened #152 "Reportportal: Getting error for java.lang.NoClassDefFoundError: com/epam/reportportal/service/tree/TestItemTree while using with selenium + maven + testng"
Hi
I am using Selenium+testng and getting below error while running it.

 There was an error in the forked process:

java.lang.NoClassDefFoundError: com/epam/reportportal/service/tree/TestItemTree
[ERROR] at com.epam.reportportal.testng.TestNGService.<clinit>(TestNGService.java:87)
[ERROR] at com.epam.reportportal.testng.ReportPortalTestNGListener$1.get(ReportPortalTestNGListener.java:32)
[ERROR]

[2020-12-15 16:06] HardNorth commented on #152
Where did you get this configuration?
First of all: you don't need to include client-java separately, let agent take it's own dependency. `client-java` of version `3.0.0` is way too outdated and incompatible with current agent versions.
Second: guice and jackson are redundant now.

[2020-12-15 16:06] #152 closed

[2021-01-15 10:09] alex-i-rybkin opened #153 "Skipped test method has defect type select option when @BeforeClass configuration fails"
**Environment**
testng:7.1.0
agent-java-testng:5.0.8
ReportPortal 5.3.3

When @BeforeMethod fails **there is no defect type** select option for the Skipped Test item.
![image](https://user-images.githubusercontent.com/30799266/104711324-e14b0d80-5729-11eb-9af8-4246f1c086f7.png)
When @BeforeClass fails **user can select defect type** select option for the Skipped Test item.
![image](https://user-im

[2021-01-27 12:58] HardNorth commented on #147
The fix will be not earlier that in 6th version of RP and agents, since it breaks retry and re-run logic.

[2021-01-27 13:59] HardNorth commented on #151
TestNG Report Portal agent is nothing to do with that. This is a TestNG bug: https://github.com/cbeust/testng/issues/2220
I've actually implemented a simple project to reproduce: https://github.com/HardNorth/testng-two-tests-bug
If I run it with TestNG 7.3.0 (as set) it will not produces the interrupted item.

For the future, please post issues using text information (not screenshots) and English

[2021-01-27 13:59] #151 closed

[2021-01-27 15:02] HardNorth commented on #153
Fixed: https://github.com/reportportal/agent-java-testNG/releases/tag/5.0.9

[2021-01-27 15:02] #153 closed

[2021-02-26 21:35] mchundi opened #156 "Data provider test does not show multiple runs"
Hi,
I am new to report portal. I have a data provider test that takes 2 inputs. When I execute the test, reportportal shows only one.

POM dependencies
[code]

Test case:
[code]

Data provider
[code]

[2021-02-26 21:37] mchundi opened #157 "Test owner and groups to test cases"
Hi,
How can I add test owner and groups to a test case.

[2021-03-03 05:14] HardNorth commented on #157
@mchundi We have Attributes feature, you can use it to add metadata to your tests:
https://github.com/reportportal/client-java/wiki/Test-item-attributes

[2021-03-03 05:16] HardNorth commented on #156
@mchundi I'm not getting what you mean, can you provide any screenshot?

[2021-03-03 08:49] GannaChernyshova opened #158 "Feature request: Implement @Attributes annotation on class level"
Hi colleagues, it would be nice to have a feature with @Attributes annotation available on the class level so that user can add same attributes to all tests in class by specifying it only once by class binding.

[2021-03-03 16:49] mchundi commented on #157
Thank you.
Is there a way I can override the attributes?
I want to add tags in BeforeMethod instead of modifying each test case.

[2021-03-03 16:50] mchundi commented on #156
Issue was with my test. I fixed it.
Thank you for looking into this.

[2021-03-03 16:50] #156 closed

[2021-03-03 17:37] mchundi commented on #157
I tried this https://github.com/reportportal/examples-java/blob/master/example-testng-logback/src/main/java/com/epam/reportportal/example/testng/logback/extension/ParametersAsAttributesTest.java
but it does not add tags to the test method

[2021-03-26 12:58] HardNorth commented on #157
I found that usage of `buildStartStepRq(org.testng.ITestResult)` method was lost somewhere in refactorings. I returned it back but it become available only in the next release. As a workaround you can update [these lines](https://github.com/reportportal/examples-java/blob/master/example-testng-logback/src/main/java/com/epam/reportportal/example/testng/logback/extension/ParametersAsAttributesTest.j

[2021-03-26 12:58] #157 closed

[2021-04-26 08:32] shubham18-code opened #161 "Logs not reflecting in report portal with TestNg integration."
have a TestNg framework setup and used log4j for logging. Implemented report portal for reporting purposes and it is not working as expected,  It shows cases executed, passed, failed and failures with no any log shown inside them.

**Logs not reflecting in report portal.**
![MicrosoftTeams-image](https://user-images.githubusercontent.com/67459308/116051633-6c776000-a696-11eb-8a74-04eae0b09ee2.png)

[2021-04-28 05:34] GopalSawant opened #162 "Failed Test cases screenshot"
How to implement listeners on failed test cases. or how to attach screenshot to report portal. Does report portal internally do that

[2021-04-28 09:37] HardNorth commented on #162
Please look into examples: https://github.com/reportportal/examples-java/blob/master/example-testng-logback/src/main/java/com/epam/reportportal/example/testng/logback/extension/ScreenshotOnFailureTestExtension.java

[2021-04-28 09:37] #162 closed

[2021-04-28 10:19] GopalSawant commented on #162
Hi, Thanks for the quick response.
how to implement same in framework as you will have multiple classes , and in your example everything is at one place.
Can I make different class like listeners and every failed test case from other class will call automatically onfail

[2021-04-29 07:08] HardNorth commented on #162
@GopalSawant We do not provide Test Automation consulting in general.

[2021-05-03 06:50] vrakr19 opened #163 "Access denied for bintray"
Failed to execute goal on project CoreFramework: Could not resolve dependencies for project com.sap.he2e.framework:CoreFramework:jar:0.0.1: Failed to collect dependencies at org.uncommons:reportng:jar:1.1.4 -> org.testng:testng:jar:6.13 -> com.beust:jcommander:jar:1.66: Failed to read artifact descriptor for com.beust:jcommander:jar:1.66: Could not transfer artifact com.beust:jcommander:pom:1.66 f

[2021-05-03 07:42] HardNorth commented on #163
Just remove the repository and ensure you have Maven Central set.

[2021-05-03 07:42] #163 closed

[2021-05-12 19:20] idan-marciano-jfrog commented on #83
Hi, i am also trying to work with
`com.epam.reportportal:agent-java-spock:3.0.0`
and i am getting the same error where i am missing guava Supplier class which i am not, I have imported it
`implementation group: 'com.google.guava', name: 'guava', version: '30.1.1-jre'`
what i am getting as an error is the following:
`rp/com/google/common/base/Supplier
java.lang.NoClassDefFoundError: rp/com/google/c

[2021-05-12 19:34] idan-marciano-jfrog commented on #83
i think i managed to pass this by adding
`testCompile 'com.epam.reportportal:commons-model:4.2.0'
    testCompile 'com.epam.reportportal:client-java:4.0.10'`

[2021-05-19 08:26] lavanyach-sailo opened #164 "[ERROR] bad class file: /var/lib/jenkins/.m2/repository/com/epam/reportportal/commons-model/5.1.0/commons-model-5.1.0.jar(com/epam/ta/reportportal/ws/model/FinishExecutionRQ.class)"
Hello,

Seeing compilation errors while running from jenkins. Using jdk 11 version.

[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.2:compile (default-compile) on project InforAutomation: Compilation failure
[ERROR] /var/lib/jenkins/workspace/Infor_LN/src/main/java/com/sailotech/testautomation/inforln/accelarators/TestBase.java:[54,41] cannot access com.epam.ta.rep

[2021-05-19 11:57] HardNorth commented on #164
It looks like you overwrote our version of `commons-model` library with newer one in your build scripts (5.1.0). Our TestNG agent still use version 5.0.0: https://github.com/reportportal/agent-java-testNG/blob/develop/build.gradle#L57

Please revert to compatible `commons-model` version.

[2021-05-19 11:57] #164 closed

[2021-06-14 09:44] vrakr19 opened #166 "Google Analytics Connection Error"
13:40:44  [36mTest_module_chrome_1  |[0m 2021-06-14 08:10:36,555 [rp-io-1] ERROR com.epam.reportportal.service.analytics.Statistics - Remote host closed connection during handshake
13:40:44  [36mTest_module_chrome_1  |[0m Exception in thread "main" java.lang.RuntimeException: Unable to complete execution of all dependencies
13:40:44  [36mTest_module_chrome_1  |[0m 	at com.epam.reportportal.s

[2021-06-14 13:29] HardNorth commented on #166
You can disable Google Analytics if you put anything int  variable into `AGENT_NO_ANALYTICS` environment variable.

[2021-06-14 13:29] #166 closed

[2021-06-25 08:42] 7vga opened #167 "io.reactivex.exceptions.UndeliverableException from com.epam.reportportal.service.LaunchImpl"
Hi! I'm using  agent-java-testng 5.0.11 ,  logger-java-logback 5.0.3, and testNg 7.3.0
I have a custom runner, i.e. running tests via tng.run() and adding listeners including ReportPortalTestNGListener via suite.setListeners()
When I launching test suite **second time** (I want to run through set of environments), the suite running stuck and I getting the following stack trace (a fragment, it seem

[2021-06-25 10:28] HardNorth commented on #167
@7vga Every agent in ReportPortal was designed to handle one Launch per execution because we close and free all resources we use on the Launch end. When you call TestNG.run several times it does not initialize our listener a new and uses old one. From pure TestNG prospective this is unrealistic case. Even if you configure your build system to run the same tests with different number of parameters

[2021-06-25 10:28] #167 closed

[2021-06-25 13:52] 7vga commented on #167
Got it, thanks for clear explanation, will use other approach

[2021-07-29 07:01] Drimix20 opened #168 "HELP: Is possible to provide existing launch ID to the agent?"
Hi,

I have situation, when I have paralelized jenkins jobs which run the same group (e.g. api tests), but runs them in paralel to shorten the duration of testing. I would like to report each parallel job to the one started launch in RP. I'm able to start/stop launch by Rest API, but I don't know how I can provide launch id to the agent?

Scenario:
1) Start testing job:
2) Start new launch by Rest

[2021-08-05 09:53] #158 closed

[2021-08-11 09:18] mohitb01 opened #173 "Getting error [ERROR] java.lang.NoSuchMethodError: okhttp3.HttpUrl.get(Ljava/lang/String;)Lokhttp3/HttpUrl;"
I am trying to integrate TestNG framework with Reportportal. Using below dependencies but getting error [ERROR] java.lang.NoSuchMethodError: okhttp3.HttpUrl.get(Ljava/lang/String;)Lokhttp3/HttpUrl;

Can anyone please help here.

Dependencies:

<repositories>
		<repository>
			<snapshots>
				<enabled>false</enabled>
			</snapshots>
			<id>bintray-epam-reportportal</id>
			<name>bintray</name>
			<

[2021-08-11 09:28] HardNorth commented on #173
@mohitb01 2 questions:
1. There is no any dependencies on Bintray, since it's down from May. Could you please ensure that you use correct dependency?
2. I need at least full stack trace or example project to reproduce the issue. Or even both. Since we have a whole batch of integration tests and they all pass I believe it's something unusual you do.

[2021-08-11 10:08] mohitb01 commented on #173
@HardNorth

StackTrace:

[RemoteTestNG] detected TestNG version 7.4.0
SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBinder for further details.
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by retrofit2.Platform (f

[2021-08-11 10:49] HardNorth commented on #173
@mohitb01
Your dependency tree
[code]
As you see your `selenium-java` dependency overrides `okhttp` with version 3.10.0. But ReportPortal client needs `okhttp` with version `3.11.0` as a minimum. So you need to update your `selenium-java` to at least version `3.141.0` (where `okhttp` version was update) or overwrite `okhttp` dependency to at least `3.11.0`.

[2021-08-11 10:49] #173 closed

[2021-11-17 10:24] KacperWieczorek opened #177 "Combine beforeMethod and afterMethod with Test"
**Considering a situation that we have following methods marked as beforeMethod:**
1. prepareSomeDataRequiredForTest
2. startWebDriver
3. goToTestedSystem
4. testPrecondition

**Then we have test method**
5. doesSearchingForSomethingWork

**And following after methods**
6. closeWebDriver
7. createJiraTicket

Is it possible to have before and after methods merged into Test record in report portal w

[2021-11-17 11:56] HardNorth commented on #177
There is such functionality now. I future versions we are going to re-consider before/after method processing, but there is no ETA.

[2021-11-17 11:56] #177 closed

[2021-11-17 11:57] KacperWieczorek commented on #177
If there is such functionality how do I access it? Is it a toggle or some parameter?

[2021-11-17 13:00] HardNorth commented on #177
@KacperWieczorek, misprinted, sorry. "There is no functionality now".

[2021-11-17 13:01] KacperWieczorek commented on #177
@HardNorth ah, Okay thanks for info tho. I'll try to tape something together. Thanks for the replies

[2022-01-25 11:23] ASaiAnudeep opened #180 "Get Launch ID programmatically"
I am trying to get the launch id when the tests are running.

I have configured report-portal as a listener in my TestNG runner file.

[code]

I tried to capture the launch id from the `reportportal.lock`. Which works fine in the Mac but fails in Windows machine with the following error..

[code]

[code]

Is there a way to get  Launch ID programmatically?

[2022-01-27 10:19] HardNorth commented on #180
Please use this example: https://github.com/reportportal/examples-java/blob/master/example-testng-logback/src/main/java/com/epam/reportportal/example/testng/logback/logging/LaunchUrlLoggingTest.java

[2022-01-27 10:19] #180 closed

[2022-02-02 09:48] 7vga opened #181 "ReportPortal execution error retrofit2.adapter.rxjava2.HttpException: HTTP 400"
Hi!
I'm having issue with reporting tests results to Report Portal
        testNg.version=7.5
        report-portal-agent-version=5.1.1
        report-portal-logger-version=5.1.1

Uploaded sample project here [https://github.com/7vga/rp-errors-reproducing.git](https://github.com/7vga/rp-errors-reproducing.git)

Launch in RP remains not ending till force finish
Would be appreciated for any advice

[2022-02-02 10:06] HardNorth commented on #181
Everything is OK from my side:
![Screen Shot 2022-02-02 at 1 04 48 PM](https://user-images.githubusercontent.com/4364466/152133318-169c78e6-6cc8-4d15-bee2-146d2ab1738c.png)
![Screen Shot 2022-02-02 at 1 05 09 PM](https://user-images.githubusercontent.com/4364466/152133354-d2513d51-4b9c-4c91-b442-92870d5ab2c8.png)

[2022-02-02 10:06] 7vga commented on #181
Rolled back to agent-java-testng>5.0.0 and logger-java-logback>5.0.0 seemed resolved the issue

[2022-02-02 10:07] HardNorth commented on #181
Hmm. Which version of Report Portal do you use?

[2022-02-02 10:08] 7vga commented on #181
5.5 (not sure, have to ask to double-check)

[2022-02-02 10:31] HardNorth commented on #181
Well, as I said I cannot reproduce the issue with your code. For me it looks like local library issues, something what you aren't showing. Closing this for now.

[2022-02-02 10:31] #181 closed

[2022-02-12 10:38] anirbanpuky opened #182 "Getting error "Cannot instantiate class com.epam.reportportal.testng.ReportPortalTestNGListener""
While running the test in Azure Devops Pipeline, I am getting the below error
"Cannot instantiate class com.epam.reportportal.testng.ReportPortalTestNGListener"
org.apache.maven.surefire.booter.SurefireBooterForkException: There was an error in the forked process

I have mentioned the listener in my POM.xml file only.
Please help.

Dependencies :

            <dependency>
                <groupId>

[2022-02-13 16:23] GavinHewittQA commented on #182
I had the exact same issue, but have zero doubt it was my configuration at fault, 5.1.0 fine, 5.1.1 generates the above error.

Watching this thread in interest.

[2022-02-14 05:17] anirbanpuky commented on #182
This is the error log I am getting.

Cannot instantiate class com.epam.reportportal.testng.ReportPortalTestNGListener
2022-02-12T09:56:55.0711137Z [ERROR] 	at org.apache.maven.plugin.surefire.booterclient.ForkStarter.fork(ForkStarter.java:733)
2022-02-12T09:56:55.0712063Z [ERROR] 	at org.apache.maven.plugin.surefire.booterclient.ForkStarter.run(ForkStarter.java:305)
2022-02-12T09:56:55.0712934Z [E

[2022-02-14 09:59] HardNorth commented on #182
@GavinHewittQA We sometimes change our dependencies from version-to-version due to critical security vulnerabilities and `5.1.1` is exact that case. So this might happen if you have strong dependency on compromised libraries. I also can say that version `5.1.1` already in use by hundreds of users, so I'm very skeptical about any claim that something wrong with it. To make me change my mind you hav

[2022-02-14 10:12] GavinHewittQA commented on #182
Fully agree its more than likely my configuration :)     When i get serious time ill try work it out and update thread with findings, good or bad.

[2022-02-14 17:05] varundunga commented on #182
@HardNorth Im also getting this error.
`
# Created at 2022-02-14T22:33:34.605
org.testng.TestNGException:
Cannot instantiate class com.epam.reportportal.testng.ReportPortalTestNGListener
	at org.testng.internal.objects.InstanceCreator.newInstance(InstanceCreator.java:41)
	at org.testng.internal.objects.InstanceCreator.newInstance(InstanceCreator.java:59)
	at org.testng.ITestObjectFactory.newInstan

[2022-02-15 08:15] HardNorth commented on #182
@varundunga You are using old `OkHttpClient`. Most likely due to old Selenium dependency. Please update it on at least version `3.141.0`.
Actually that's a duplicate of: https://github.com/reportportal/agent-java-testNG/issues/173

[2022-03-08 07:34] iKabi commented on #182
Hi @HardNorth, with version 5.1.0 tests worked fine in azure pipeline. However, facing same issue with version **5.1.1**. Error seen:
[code]

[2022-04-13 13:34] HardNorth commented on #180
@ASaiAnudeep this file might be hard-locked, so you might get `IOException`.

[2022-04-18 03:23] ASaiAnudeep commented on #180
Reading `.sync` is not raising any io exception in both mac and windows environments.

[code]

[2022-05-19 08:31] gargsachin13 opened #184 "[ERROR] Cannot instantiate class com.epam.reportportal.testng.ReportPortalTestNGListener"
There was an error in the forked process
[ERROR]
[ERROR] Cannot instantiate class com.epam.reportportal.testng.ReportPortalTestNGListener
[ERROR] org.apache.maven.surefire.booter.SurefireBooterForkException: There was an error in the forked process
[ERROR]
[ERROR] Cannot instantiate class com.epam.reportportal.testng.ReportPortalTestNGListener
[ERROR]         at org.apache.maven.plugin.surefire.bo

[2022-05-19 14:15] HardNorth commented on #184
@gargsachin13 It's not possible to say anything by information you provided. Your build system hides our stack trace. There are numerous reasons why the listener might fail to initialize.
If you want to get a clue then provide more information: On which system do you run the code? Which TestNG version do you use? Do you override client-java dependency? Your pom.xml file. Etc.

[2022-05-20 04:26] gargsachin13 commented on #184
@HardNorth Thanks!
I am running it on Appium +Selenium +JAVA on win machine
POM
 <dependencies>

        <dependency>
            <groupId>org.testng</groupId>
            <artifactId>testng</artifactId>
            <version>7.5</version>
            <scope>test</scope>
        </dependency>

      <dependency>
            <groupId>commons-io</groupId>
            <artifactId>commons-io</artifactI

[2022-05-25 20:58] amsachin opened #185 "Does agent-java-testNG report only failed test cases?"
Hello,
I was able to integrate testNG with Reportportal. Steps followed:
1. Added dependencies
[code]
2. Added following properties to maven-surefire-plugin
[code]
3. Added the listener in the testNG.xml suite file
[code]
4. Added reportportal.properties to src/main/resources/ folder

**_Question_**: On executing the test cases, the runs are getting displayed in the Launches only if the execution

[2022-05-26 10:12] HardNorth commented on #185
@amsachin please double-check your code, you must be doing something wrong. TestNG is the most popular agent it has thousands of executions daily. You can easly check that your statement incorrect just by running `mvn test` inside this folder: https://github.com/reportportal/examples-java/tree/master/example-testng-logback

`testNGService.sendReportPortalMsg(testResult);` is only for error logging

[2022-05-26 10:12] #185 closed

[2022-05-26 10:18] HardNorth commented on #184
@gargsachin13 Unfortunately your build system hides real stack trace, therefore it's not possible to tell anything. Please provide pure stacktrace.

[2022-05-28 03:38] amsachin commented on #185
@HardNorth thank you for the quick response. My TestNG API test suite uses one of the run time param called RP_API_KEY and that was conflicting with the report portal's env param. In my case, RP stands for [relying party](https://en.wikipedia.org/wiki/Relying_party). With help of Charles proxy figured that 401 error was occurring whenever `http://localhost:8080/api/v1/ProjectName/launch` request w

[2022-07-13 11:12] bhagyaISS opened #186 "com.epam.reportportal.exception.InternalReportPortalClientException: Wait for Launch start timed out"
**Describe the bug**

Hi Team,

I am using agent-java-testNG client with Selenium-Java framework and we have tests scheduled via Jenkins. Past few days, we are experiencing the below issue which leads to Jenkins jobs failure. These tests are running on cloud platform.

![image](https://user-images.githubusercontent.com/109215760/178715381-fedb64b0-8eaa-4a04-b7e1-c2c78c337528.png)

I have attached

[2022-07-14 09:56] bhagyaISS commented on #186
Hi @HardNorth , Thank you for quick reply!

There is no launch for the above build on Report Portal UI.

And yes, I will take note of it - upgrading to the latest selenium version. Thank you for the suggestion!

Meanwhile, could you please help us to resolve the launch timeout issue? All I can say is that it is intermittent and we do not know the root cause.

[2022-07-20 09:02] HardNorth commented on #186
@bhagyaISS I don't have enough information here. But having symptoms that something worked and then stopped without code updates I absolutely sure that the issue in the environment: SSL certificate expiration, new firewall rules, etc.

[2022-07-29 08:37] bhagyaISS commented on #186
Hi,

We do not have SSL, firewall rules setup, and the issue is still happening.
Please let me know if you require additional information to debug issue further.

[2022-07-29 09:08] HardNorth commented on #186
@bhagyaISS Could you please try setting `rp.client.join` property into `false`?

[2022-08-12 15:11] HardNorth commented on #184
Abandoned

[2022-08-12 15:11] #184 closed

[2022-08-12 15:11] HardNorth commented on #186
Abandoned

[2022-08-12 15:11] #186 closed

[2022-09-07 07:18] idan-marciano-jfrog opened #188 "Test interrupt is reported on many tests execution"
Recently i have integrated a very big suite (thousand of integration test) with report portal. While testing this integration i am experiencing lots of tests that are reported as interrupt and their run time is around 1:30 hours which is not the reality.
The test that were reported as interrupt actually passed but for some reason the connection was not close and i assume that some sort of timeout

[2022-09-07 07:26] HardNorth commented on #188
@idan-marciano-jfrog If the suite is really big, running in parallel, RP instance can really struggle to process it due to many reasons. In our install scripts we set configuration varables which are suitable for the most users, but they are not optimal for any particular use case. Usually every high-load pattern needs its tunning.

For the start you can tune HTTP timeouts and see if you get bette

[2022-09-07 12:49] idan-marciano-jfrog commented on #188
@HardNorth Thanks,
Regarding to the parallelism i am running all those tests on different execution so they are spreading out to multiple lunches
The symptom is this:
The test finished executing but it seems like the server still digest the data and from the UI its seems like its still in progress
![Screen Shot 2022-09-07 at 15 43 57](https://user-images.githubusercontent.com/68947907/188881489-cb

[2022-09-09 16:15] HardNorth commented on #188
@idan-marciano-jfrog

Not really, `rp.rx.buffer.size` is mostly for those cases when someone is trying to push thousands of logs per second. Actually this parameter is growing automatically and the setting is needed just to speed up processing when amount of logs is that huge, that even automatic grow does not help.

As for `rp.batch.size.logs` it regulates the number of log items in one batch, wh

[2022-10-06 10:46] php-del opened #189 "Getting Cannot instantiate class com.epam.reportportal.testng.ReportPortalTestNGListener"
Following are my pom.xml dependencies and listener configuration

<dependency>
			<groupId>com.epam.reportportal</groupId>
			<artifactId>agent-java-testng</artifactId>
			<version>5.1.3</version>
		</dependency>

		<dependency>
			<groupId>com.epam.reportportal</groupId>
			<artifactId>logger-java-logback</artifactId>
			<version>5.1.3</version>
		</dependency>
<plugin>
				<groupId>org.apache.ma

[2022-10-06 11:21] HardNorth commented on #189
@php-del Please provide detailed logs or a project to reproduce the issue.
Maven logging configuration:
https://maven.apache.org/surefire/maven-surefire-plugin/examples/logging.html

[2022-10-06 11:47] php-del commented on #189
[Log.txt](https://github.com/reportportal/agent-java-testNG/files/9724497/Log.txt)
Attached is the detailed log

[2022-10-06 17:38] HardNorth commented on #189
@php-del OK, found this in your Log:
[code]

This usually happens when someone use outdated Selenium version. Since Selenium uses the same HTTP client as Report Portal. To fix that you need to update Selenium version on at least version `3.141.0`.

This actually duplicate of the following issues:
https://github.com/reportportal/examples-java/issues/61
https://github.com/reportportal/client-java/is

[2022-10-10 09:26] php-del opened #190 "Can anyone please provide me details of how to deploy this report portal on cloud? Any documentation we have around this?"
Report portal cloud deployment

[2022-10-10 09:33] HardNorth commented on #190
@php-del See here: https://github.com/reportportal/kubernetes

[2022-10-10 09:33] #190 closed

[2022-10-10 11:07] php-del opened #191 "Separate report portal properties file according to the environment(Stg,QA,DEV)"
**Is your feature request related to a problem? Please describe.**
Is there any way we can configure our code to use reportportal.properties file according to our environment? Means we pass environment value from pom.xml whether staging or QA but we have only single reportportal.properties file being used. Can we use two separate properties files? Is any documentation available for this?

[2022-10-27 08:10] suhaibm7 opened #192 "Retried test method not logged in RP with testng retry analyzer"
**Describe the bug**
I am using Report Portal Java Testng Agent Version 5.1.2 and Testng Version 7.5. We have retry analyzer in our test code and whenever our tests failed, they are retried one more time. The problem is in case a test is retried, report portal does not log the test case and reports on RP are all green with no failures but total number of test cases are less by the number of tests

[2022-11-09 12:56] HardNorth commented on #192
@suhaibm7 As for me everything works as designed, since the logic here to report one test no matter how many retires it has. Do you want to say that if all retries failed they are reported as additional test?